<template>
  <v-row class="px-4" justify="center">
    <v-col cols="12" md="10" lg="8">
      <Callendar @goto="gotoRequest" :events="events" />
    </v-col>
  </v-row>
</template>

<script>
import Callendar from '../../components/Callendar'
import { mapState } from 'vuex'

export default {
  components: {
    Callendar
  },
  async mounted () {
    this.$store.commit('setPageTitle', {
      text: 'Календар'
    })

    try {
      await this.$store.dispatch('getCallendarInfo')
    } catch {
      this.$router.replace('/')
    }
  },
  methods: {
    gotoRequest (id) {
      this.$store.commit('setParentRoot', {
        title: 'Календар',
        to: '/callendar'
      })
      this.$router.push('/request/' + id)
    }
  },
  computed: mapState({
    events: state => state.caretakers.cellendarInfo
  })
}
</script>

<style>
</style>
