<template>
  <v-row justify="center">
    <v-col cols="12" md="6" lg="5" xl="4">
      <CaretakerProfile
        v-if="caretaker"
        @hire-clicked="gotoHire"
        :caretaker="caretaker"
        :myself="false"
        :show-send-msg="hasPreviosRequestsTo"
        :show-hire="Boolean(searchParams)"
      />
    </v-col>
  </v-row>
</template>

<script>
import CaretakerProfile from '../../components/CaretakerProfile'
import { mapState } from 'vuex'
import _ from 'lodash'

export default {
  components: { CaretakerProfile },
  async mounted () {
    if (this.searchParams && !this.parentRootTo.includes('request/')) {
      this.$store.commit('setParentRoot', {
        title: 'Гледачи',
        to: '/found/caretakers/'
      })
    }

    try {
      this.$store.dispatch('getCaretaker', this.$route.params.id)
    } catch {
      this.$router.replace('/')
    }

    try {
      this.$store.dispatch('getHireRequests', this.$route.params.id)
    } catch {
      this.$router.replace('/')
    }
  },
  watch: {
    caretaker (c) {
      this.$store.commit('setPageTitle', {
        text: `Гледач ${_.capitalize(
          c.first_name
        )} ${_.capitalize(c.second_name)}`
      })
    }
  },
  methods: {
    gotoHire () {
      var params = {
        caretakerId: this.$route.params.id
      }
      if (this.searchParams) {
        params['individualId'] = this.searchParams.individual
      }

      this.$store.commit('setParentRoot', {
        title: `Гледач "${_.capitalize(
          this.caretaker.first_name
        )} ${_.capitalize(this.caretaker.second_name)}"`,
        to: '/caretaker/' + this.caretaker.id
      })

      this.$router.push({
        name: 'sendRequest',
        params
      })
    }
  },
  computed: mapState({
    caretaker: state => state.caretakers.caretaker,
    searchParams: state => state.caretakers.caretakerSearchParams,
    individual: state => state.individuals.individual,
    hasPreviosRequestsTo: function (state) {
      if (state.hireRequests.requests.length < 1) return false
      var h = _.find(state.hireRequests.requests, r => {
        return r.caretaker.id === state.caretakers.caretaker.id
      })
      if (h) return h.room_id
      return false
    },
    parentRootTo: state => {
      var pr = state.parentNavigation.parentRoot
      return pr ? pr.to : ''
    }
  })
}
</script>
