<template>
  <v-row class="px-4" justify="center">

    <v-col cols="12" md="7" lg="6" xl="4">
      <Request
        :send=true
        @send=send
        :errors=errors
        :weekly=searchParams.weekly
        :times=searchParams.times
        :caretaker=caretaker
        :individual=individual
      />
    </v-col>

  </v-row>
</template>

<script>
import Request from '../../components/HireRequest'
import { mapState } from 'vuex'

export default {
  components: {
    Request
  },
  data: () => ({
    errors: []
  }),
  async mounted () {
    if (!this.searchParams) {
      this.$router.replace('/')
    }

    this.$store.commit('setPageTitle', {
      text: `Заявка`
    })

    try {
      this.$store.dispatch(
        'getCaretaker',
        this.$route.params.caretakerId
      )
    } catch {
      this.$router.replace('/')
    }

    if (this.$route.params.individualId) {
      try {
        this.$store.dispatch(
          'getIndividual',
          this.$route.params.individualId
        )
      } catch {
        this.$router.replace('/')
      }
    }
  },
  methods: {
    async send (message) {
      try {
        await this.$store.dispatch('requestCaretaker', {
          individual: this.individual.id,
          caretaker: this.caretaker.caretaker.id,
          message,
          weekly: this.searchParams.weekly,
          times: JSON.parse(JSON.stringify(this.searchParams.times))
        })
      } catch ({ data, status }) {
        if (status !== 406) {
          this.$router.replace('/')
        }

        if ('caretaker' in data) {
          this.$router.replace('/')
        }

        if ('duplicate' in data) {
          this.$store.commit('setSnackbar', {
            active: true,
            text: 'Вече сте изпратили подобно запитване',
            color: 'error',
            btn: {
              replace: true,
              to: '/caretaker/' + this.caretaker.id,
              text: 'назад'
            }
          })
        } else {
          this.errors = data
        }
        return
      }

      this.$store.commit('setSnackbar', {
        active: true,
        text: 'Успешно изпратена заявка',
        color: 'success',
        btn: null
      })
      this.$store.commit('clearParentRoot')
      this.$router.replace('/found/caretakers/')
    }
  },
  computed: mapState({
    caretaker: state => state.caretakers.caretaker,
    individual: state => state.individuals.individual,
    searchParams: state => state.caretakers.caretakerSearchParams
  })
}
</script>
