<template>
  <v-row class="px-4" justify="center">

    <v-col v-if="notifications.length" cols="12" md="6" lg="5" xl="3" class="px-0">
      <Notifications :notifications="notifications" @read="setRead" @remove="remove" />
    </v-col>

    <v-col v-else cols="12" md="6" lg="5" xl="3" class="mt-12">
        <v-alert
        dense
        type="info"
        outlined
        border="left"
      >Няма никакви известия</v-alert>
    </v-col>

  </v-row>
</template>

<script>
import Notifications from '../../components/Notifications'
import { mapState } from 'vuex'
export default {
  mounted () {
    // Page-title-a
    this.$store.commit('setPageTitle', {
      text: 'Известия'
    })
  },
  methods: {
    setRead (id) {
      this.$store.dispatch('notificationSetRead', { id })
    },
    remove (id) {
      this.$store.dispatch('notificationDelete', { id })
    }
  },
  components: {
    Notifications
  },
  computed: mapState({
    notifications: state => state.notifications.notifications
  })
}
</script>
