<template>
  <v-row class="px-4" justify="center">

    <v-col cols="12" md="6" lg="5" xl="3">
       <IndividualForm :individual="individual" @success="edited" />
    </v-col>

  </v-row>
</template>

<script>
import IndividualForm from '../../components/IndividualForm'
import { mapState } from 'vuex'

export default {
  components: {
    IndividualForm
  },
  async mounted () {
    // Взима данните за даден individual
    try {
      await this.$store.dispatch('getIndividual', this.$route.params.id)
    } catch {
      this.$router.replace('/')
    }
  },
  watch: {
    // Намества бутончето "назад"
    individual () {
      this.$store.commit('setParentRoot', {
        title: 'Лице "' + this.individual.name + '"',
        to: '/individual/' + this.individual.id
      })
    }
  },
  methods: {
    // вика се при успешна редакция на лице
    edited () {
      this.$store.commit('setSnackbar', {
        active: true,
        text: 'Успешно редактирано лице',
        color: 'success',
        btn: null
      })

      this.openedForEdit = false
      this.$store.dispatch('getIndividual', this.$route.params.id)

      this.$store.commit('setParentRoot', {
        title: 'Лица',
        to: '/individuals'
      })
    }
  },
  computed: mapState({
    individual: state => state.individuals.individual
  })
}
</script>

<style>
</style>
