<template>
  <v-row class="px-4 mt-6" justify="center">
    <v-col cols="12" md="9" lg="6">
      <FindCaretakerForm
        @find-clicked="find"
        :search-params="searchParams"
        :individual-select="individualSelection"
        :individuals="individualSelection? userIndividuals:[]"
        :loading="loading"
      />
    </v-col>
  </v-row>
</template>

<script>
import FindCaretakerForm from '../../components/FindCaretakerForm'
import { mapState } from 'vuex'

export default {
  components: {
    FindCaretakerForm
  },
  data: () => ({
    individualSelection: false,
    loading: false
  }),
  async mounted () {
    // Page title-a
    this.$store.commit('setPageTitle', {
      text: 'Търсене на гледач'
    })

    if (!this.$route.params.id) {
      this.$store.commit('setParentRoot', null)
    }

    // Ако трябва да се избере лице
    // няма id в url-a и потребителя има повече от 1 лице
    if (!this.$route.params.id && this.userIndividuals.length > 1) {
      this.individualSelection = true
    } else {
    // Ако не е нужно да се избере лице
    // Взима данните за лицето, на база id-то в url-а

      // ако няма  id в url-a  (потребителя има само 1 лице)
      if (!this.$route.params.id) {
        this.individualSelection = false
      } else {
        try {
          await this.$store.dispatch('getIndividual', this.$route.params.id)
        } catch {
          this.$router.replace('/')
        }
      }
    }
  },
  methods: {
    // Вика се при натискане на търси във формата с критерии за търсене
    async find (searchParams) {
      this.loading = true

      if (this.$route.params.id) {
        // ако има зададен id в url-a
        searchParams['individual'] = this.individual.id
      } else if (this.userIndividuals.length === 1) {
        // ако потребителя има само 1 лцие
        searchParams['individual'] = this.userIndividuals[0].id
      }

      try {
        await this.$store.dispatch('findCaretakers', searchParams)
        this.$router.push({ name: 'suggestedCaretakers' })
      } catch {
        this.$router.replace('/')
      }
      this.loading = false
    }
  },
  watch: {
    individual () {
      var pr = null // parent root

      // Ако има избрано лице
      if (this.$route.params.id) {
        pr = {
          title: this.individual.name,
          to: '/individual/' + this.individual.id
        }
        this.$store.commit('setPageTitle', {
          text: 'Търси гледач за ' + this.individual.name
        })
      }

      this.$store.commit('setParentRoot', pr)
    }
  },
  computed: mapState({
    individual: state => state.individuals.individual,
    userIndividuals: state => state.user.individuals,
    searchParams: state => state.caretakers.caretakerSearchParams
  })
}
</script>
