<template>
  <v-row class="px-4" justify="center">

    <v-col cols="12" md="6" lg="5" xl="3">
      <Individuals @goto="gotoIndividual" @new=gotoNewIndividual :individuals=individuals  />
    </v-col>

  </v-row>
</template>

<script>
import Individuals from '../../components/Individuals'
import { mapState } from 'vuex'

export default {
  components: { Individuals },
  methods: {
    gotoIndividual (i) {
      this.$store.commit('setIndividual', i)
      this.$router.push({ name: 'individual', params: { id: i.id } })
    },
    gotoNewIndividual () {
      // Назад
      this.$store.commit('setParentRoot', {
        title: 'Лица',
        to: '/individuals'
      })
      this.$router.push({ name: 'addIndividual' })
    }
  },
  computed: mapState({
    individuals: state => state.user.individuals
  })
}
</script>
