<template>
  <v-row class="px-4 mt-6" justify="center">

    <v-col cols="12" md="6" lg="4">
      <Individual
        :user-is-owner="userIsOwner"
        :individual="individual"
        @delete-clicked="removeIndividual"
        @edit-clicked="editClicked"
        @find-caretaker-clicked="gotoFindCaretaker"
      />
    </v-col>

  </v-row>
</template>

<script>
import Individual from '../../components/Individual'
import { mapState } from 'vuex'
import _ from 'lodash'

export default {
  components: { Individual },
  async mounted () {
    // Взима данните за лицето, на база id-то в url-a
    try {
      await this.$store.dispatch('getIndividual', this.$route.params.id)
    } catch {
      this.$router.replace('/')
    }
  },
  methods: {
    // редиректва към страницата за редакция
    editClicked () {
      this.$store.commit('setIndividual', this.individual)

      this.$router.push({
        name: 'editIndividual',
        params: { id: this.individual.id }
      })
    },
    // изтрива лицето
    async removeIndividual () {
      try {
        await this.$store.dispatch('deleteIndividual', this.$route.params.id)
      } catch {}

      this.$store.commit('setSnackbar', {
        active: true,
        text: 'Успешно премахнато лице',
        color: 'success'
      })

      this.$router.replace('/individuals')
    },
    // редиректва към страницата с пълните детайли за лицето
    gotoFindCaretaker () {
      this.$store.commit('clearSearchParams')

      this.$router.push({
        name: 'findCaretakerFor',
        params: { id: this.individual.id }
      })
    }
  },
  watch: {
    // намества бутончето "назад" и pageTitle-a
    individual () {
      this.$store.commit('setPageTitle', {
        text: 'Лице'
      })

      if (!this.userIsOwner) return
      if (this.parentRootTo.includes('request/')) return

      this.$store.commit('setParentRoot', {
        title: 'Лица',
        to: '/individuals'
      })
    }
  },
  computed: mapState({
    individual: state => state.individuals.individual,
    parentRootTo: state => {
      var pr = state.parentNavigation.parentRoot
      return pr ? pr.to : ''
    },
    userIsOwner: state => {
      if (!state.user.individuals) return false

      var owner = false

      _.forEach(state.user.individuals, i => {
        if (i.id === state.individuals.individual.id) {
          owner = true
        }
      })
      return owner
    }
  })
}
</script>
