<template>
  <v-row class="px-4" justify="center">

    <v-col cols="12" md="6" lg="5" xl="3">
      <IndividualForm @success="success"/>
    </v-col>

  </v-row>
</template>

<script>
import IndividualForm from '../../components/IndividualForm'
export default {
  components: {
    IndividualForm
  },
  methods: {
    success () {
      this.$router.push({ name: 'allIndividuals' })
    }
  }
}
</script>
