<template>
  <v-row class="px-4 my-6" justify="center">

    <!-- <v-col cols=12 class="pb-1 title font-weight-bold">
      <v-divider class="pb-4"></v-divider>
      Гледачи за <v-span class="primary--text">{{individual.name}}</v-span>
    </v-col> -->

    <v-col cols="12" md="6" lg="4">
      <Caretakers @goto="gotoCaretaker" :caretakers="caretakersFilteredAndSorted" :parentRoot="parentRoot" />
    </v-col>

    <v-btn to="/find/caretaker/for" class="primary" fab dark fixed bottom right>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn class="grey" fab dark fixed bottom right @click="filtersDialog=!filtersDialog" style="bottom:80px">
      <v-icon>mdi-filter</v-icon>
    </v-btn>

    <v-btn class="grey" fab dark fixed bottom right @click="sortDialog=true;newSortBy=sortBy" style="bottom:144px">
      <v-icon>mdi-sort</v-icon>
    </v-btn>

    <!-- Модал за филтрите -->
    <v-dialog v-model="filtersDialog" persistent max-width="600px">
      <v-card class="pa-6">

        <v-card-title class="pb-4 pa-0">
          <span class="headline font-weight-medium">Филтрирайте гледачите</span>
        </v-card-title>

        <v-card-text class="pa-0">
          <span class="subtitle-1">Рейтинг: над {{filters.rating}}</span>
          <v-rating
            class="mb-4"
            v-model="filters.rating"
            large
            ripple
            half-increments
            background-color="primary"
          ></v-rating>

          <!-- Слайдър за годините -->
          <span class="subtitle-1">Възраст: между {{filters.age.join(" и ")}} години</span>
          <v-range-slider
            v-model="filters.age"
            :min="minAge"
            :max="maxAge"
            :thumb-size="24"
            thumb-label
          ></v-range-slider>

          <!-- Слайдър за надницата -->
          <span class="subtitle-1">Надница: между {{filters.hourRate.join(" и ")}} лв/час</span>
          <v-range-slider
            v-model="filters.hourRate"
            :min="(minHourRate-1).toFixed(0)"
            :max="(maxHourRate+1).toFixed(0)"
            :thumb-size="24"
            thumb-label
          ></v-range-slider>
        </v-card-text>

        <v-card-actions class="pa-0">
          <v-spacer></v-spacer>
          <v-btn color="grey" text @click="clearFilters">Изчистете</v-btn>
          <v-btn color="primary" text @click="filter">Приложете</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <!-- Модал за сортирането -->
    <v-dialog v-model="sortDialog" persistent max-width="600px">
      <v-card class="pa-6">

        <v-card-title class="pb-4 pa-0">
          <span class="headline font-weight-medium">Сортирайте гледачите</span>
        </v-card-title>

        <v-card-text class="pb-4 pa-0">
          <v-select v-model="newSortBy" :items="sortable">

            <span slot="prepend" class="subtitle-1">Сортирайте&nbsp;по</span>
            <v-btn @click="sortAsc=!sortAsc" slot="append-outer" icon small>
              <v-icon v-show="sortAsc">mdi-sort-ascending</v-icon>
              <v-icon v-show="!sortAsc">mdi-sort-descending</v-icon>
            </v-btn>

          </v-select>
        </v-card-text>

        <v-card-actions class="pa-0">
          <v-spacer></v-spacer>
          <v-btn color="grey" text @click="sortDialog=false">Затворете</v-btn>
          <v-btn color="primary" text @click="sort">Приложете</v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import Caretakers from '../../components/Caretakers'
import globals from '@/globals.js'
import _ from 'lodash'

export default {
  async mounted () {
    if (this.caretakers === null) {
      this.$router.replace('/')
    }
    this.caretakersFiltered = this.caretakers

    try {
      await this.$store.dispatch('getIndividual', this.searchParams.individual)
    } catch {
      this.$router.replace('/')
    }
  },
  data: () => ({
    // За филтрирането
    filtersDialog: false,
    filters: {
      rating: null,
      age: [0, 9999],
      hourRate: [0, 9999]
    },
    // За сортирането
    sortDialog: false,
    sortBy: null,
    newSortBy: null,
    sortAsc: null,
    sortable: [
      { text: 'Надница', value: 'hour_rate' },
      { text: 'Рейтинг', value: 'rating' },
      { text: 'Възраст', value: 'age' }
    ],

    caretakersFiltered: []
  }),
  components: {
    Caretakers
  },
  methods: {
    // праща към страницата на caretaker
    gotoCaretaker (c) {
      this.$store.commit('setCaretaker', c)
      this.$router.push({ name: 'caretakerProfile', params: { id: c.id } })
      this.$store.commit('setParentRoot', {
        title: 'Подходящи гледачи за "' + this.individual.name + '"',
        to: '/found/caretakers/'
      })
    },
    // филтрира caretaker-ите
    filter () {
      this.caretakersFiltered = _.filter(this.caretakersFiltered, c => {
        let rating = c.caretaker.rating
        let age = globals.age(c.caretaker.birth_date, true)
        let hr = c.caretaker.hour_rate
        let fs = this.filters

        // проверява, дали всички параметри отговарят на критериите за филтриране
        return (
          rating >= fs.rating &&
          age >= fs.age[0] &&
          age <= fs.age[1] &&
          hr >= fs.hourRate[0] &&
          hr <= fs.hourRate[1]
        )
      })
      this.filtersDialog = false
    },
    // изчиства всички филтри
    clearFilters () {
      this.caretakersFiltered = this.caretakers
      this.filters = {
        rating: null,
        age: [0, 9999],
        hourRate: [0, 9999]
      }
      this.filtersDialog = false
    },
    // задава параметри за сортирането
    sort () {
      this.sortBy = this.newSortBy
      this.sortDialog = false
    }
  },
  watch: {
    caretakers (v) {
      this.caretakersFiltered = v
    },
    individual () {
      this.$store.commit('setParentRoot', {
        title: 'Търсене на гледачи',
        to: '/find/caretaker/for/' + this.individual.id
      })

      this.$store.commit('setPageTitle', {
        text: ' Гледачи за ' + this.individual.name
      })
    }
  },
  computed: {
    // Сортираните и филтрирани caretaker-и
    caretakersFilteredAndSorted () {
      // Ако няма сортитане
      if (!this.sortBy) {
        return this.caretakersFiltered
      }

      let asc = _.sortBy(this.caretakersFiltered, [
        c => {
          if (this.sortBy === 'age') {
            return globals.age(c.caretaker.birth_date, true)
          }

          return c.caretaker[this.sortBy]
        }
      ])
      // Ако сортирането трябва да е в обратен ред (desc)
      if (!this.sortAsc) {
        return _.reverse(asc)
      }
      return asc
    },
    // Максималната възраст на всички caretaker-и
    maxAge () {
      var age = 0
      this.caretakers.forEach(e => {
        let a
        if ((a = globals.age(e.caretaker.birth_date, true)) > age) age = a
      })
      return age
    },
    // Минималната възраст на всички caretaker-и
    minAge () {
      var age = 9999999999
      this.caretakers.forEach(e => {
        let a
        if ((a = globals.age(e.caretaker.birth_date, true)) < age) age = a
      })
      return age
    },
    // Максималната надница за всички caretaker-и
    maxHourRate () {
      var hr = 0
      this.caretakers.forEach(e => {
        let h
        if ((h = e.caretaker.hour_rate) > hr) hr = h
      })
      return hr
    },
    // Минималната надница за всички caretaker-и
    minHourRate () {
      var hr = 999999999
      this.caretakers.forEach(e => {
        let h
        if ((h = e.caretaker.hour_rate) < hr) hr = h
      })
      return hr
    },
    ...mapState({
      individual: state => state.individuals.individual,
      caretakers: state => state.caretakers.suggestedCaretakers,
      searchParams: state => state.caretakers.caretakerSearchParams,
      parentRoot: state => state.parentNavigation.parentRoot
    })
  }
}
</script>
