<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Garfild</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="theme-color" content="#FF5722">
  <meta name="description" content="Garfild - гледач за всеки в нужда">
  <meta name="keywords" content="грижа, гледач, инвалид, старец, нужда, в нужда">
  <meta name="author" content="kolioIvanaDev">
  <style>
    .v-divider{  /*fix for diapearing v-dividers on build*/
      border-width: 1px 0px 0px 1px !important;  
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but care doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong> <br>
    <strong>Емии трябва да си пуснеш JavaScript-a за тръгнат нещата, сещаш се</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>