<template>
  <v-row class="px-4" justify="center" align-content="center" style="height:calc(100vh - 104px);">

    <v-col cols=12 v-if="firstTime" >
      <HelloWorld :is-caretaker="Boolean(user.caretaker)"/>
    </v-col>

    <v-col cols=12 align="center" v-else>
      <v-avatar @click="$router.push('/profile')" color="grey lighten-2" size="75">
        <img :src="user.caretaker?user.caretaker.picture:'/img/def_user_avatar.png'" alt />
      </v-avatar>

      <div class="py-2 headline">
        Здравейте, <span class="text-capitalize primary--text font-weight-bold">{{user.first_name}}</span>!
      </div>
    </v-col>

  </v-row>
</template>

<script>
import HelloWorld from '../components/HelloWorld'
import { mapState } from 'vuex'
import { isEmpty } from 'lodash'

export default {
  data: () => ({}),
  mounted () {
    // Проверява, дали потребитяля е логнат и други нужни глупости
    try {
      this.$store.dispatch('getUser')
    } catch {}
  },
  components: {
    HelloWorld
  },
  computed: {
    firstTime () {
      if (localStorage.getItem('firstTime') && this.user.caretaker) {
        return false
      }
      if (isEmpty(this.user)) return true
      if (!this.user.individuals) return true
      return this.user.individuals.length === 0
    },
    ...mapState(['user'])
  }
}
</script>
