<template>
  <v-row class="my-12 px-4" justify="center">
    <v-col cols="12" align="center">
      <span class="d-block display-2 primary--text font-weight-medium">404</span>
      <span class="py-2 d-block headline">
        Опа...
        Taзи страничка се нуждаеше от грижи, но реши да си тръгне.
        Вече я няма!
      </span>
      <v-btn class="my-2" to="/" color="primary">Махни ме оттук!</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {

}
</script>

<style>

</style>
