<template>
  <v-row justify="center" class="pa-0">
    <v-col cols="12" md="6" lg="4" xl="3"  class="px-6 mt-2" v-if="user">
      <v-row justify="center">
        <!-- Ако потребителя е гледач -->
        <v-col v-if="user.caretaker" cols="12">
          <CaretakerProfile  @logout="logout" :caretaker="user" :myself="true" />
        </v-col>

        <!-- Ако потребителя НЕ е гледач -->
        <v-col v-else cols="12">
          <UserProfile @logout="logout" :user="user"></UserProfile>
        </v-col>
        <v-col v-if="!user.caretaker" cols="12">
          <Individuals @new=gotoNewIndividual @goto="gotoIndividual" :individuals="user.individuals" />
        </v-col>

      </v-row>
    </v-col>
  </v-row>

</template>

<script>
import CaretakerProfile from '../../components/CaretakerProfile'
import UserProfile from '../../components/UserProfile'
import Individuals from '../../components/Individuals'
import { mapState } from 'vuex'

export default {
  components: { CaretakerProfile, UserProfile, Individuals },
  async mounted () {
    if (this.searchParams) {
      this.$store.commit('setParentRoot', {
        title: 'Гледач',
        to: '/found/caretakers/'
      })
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('logoutUser')
    },
    gotoIndividual (i) {
      this.$store.commit('setIndividual', i)
      this.$router.push({ name: 'individual', params: { id: i.id } })
    },
    gotoNewIndividual () {
      // Назад
      this.$store.commit('setParentRoot', {
        title: 'Профил',
        to: '/profile'
      })
      this.$router.push({ name: 'addIndividual' })
    }
  },
  computed: mapState({
    user: state => state.user
  })
}
</script>
