<template>
  <v-row class="px-4" justify="center">
    <!-- Ако потребител НЕ е caretaker -->
    <v-col cols="12" md="7" lg="5" v-if="!user.caretaker">
      <UserSettings :user="user" :errors="errors" @save="saveUser" />
    </v-col>

    <!-- Ако потребител Е caretaker -->
    <v-col class="pa-0" cols="12" md="7" lg="5 " style="z-index:1"  v-else>
      <v-tabs fixed-tabs v-model="tab">
        <v-tab>Профил</v-tab>
        <v-tab>Информация</v-tab>
      </v-tabs>

      <v-tabs-items class="pa-4" v-model="tab">
        <!-- Стандартните настройки -->
        <v-tab-item>
          <UserSettings :user="user" :errors="errors" :loading="loading" @save="saveUser" />
        </v-tab-item>

        <!-- Caretaker настройки -->
        <v-tab-item>
          <CaretakerSettings :caretaker="user.caretaker" :loading="loading" :errors="errors" @save="saveCaretaker" />
        </v-tab-item>

      </v-tabs-items>
    </v-col>

  </v-row>
</template>

<script>
import UserSettings from '../../components/SettingsUser'
import CaretakerSettings from '../../components/SettingsCaretaker'

import { mapState } from 'vuex'
export default {
  components: { UserSettings, CaretakerSettings },
  data: () => ({
    errors: [],
    tab: 0,
    loading: false
  }),
  mounted () {
    // Page-title-a
    this.$store.commit('setPageTitle', {
      text: 'Настройки'
    })
  },
  methods: {
    async saveUser (u) {
      this.loading = true
      try {
        await this.$store.dispatch('updateUser', u)
      } catch (err) {
        this.loading = false
        if (err.status === 403) {
          this.errors = { old_password: 'грешна стара парола' }
        } else {
          this.errors = err.data
        }
        return
      }

      this.errors = []
      this.$store.commit('setSnackbar', {
        active: true,
        text: 'Успешно запазени промени',
        color: 'success',
        btn: null
      })
      this.loading = false
    },

    async saveCaretaker (c) {
      this.loading = true
      try {
        await this.$store.dispatch('updateCaretaker', c)
      } catch (err) {
        this.loading = false
        this.errors = err.data
        return
      }

      this.errors = []
      this.$store.commit('setSnackbar', {
        active: true,
        text: 'Успешно запазени промени',
        color: 'success',
        btn: null
      })
      this.loading = false
    }
  },
  computed: mapState({
    user: state => state.user
  })
}
</script>

<style>
</style>
