<template>
  <div>
    <v-app-bar dense fixed light class="white">
      <v-row justify="center">
        <!-- Лявата част -->
        <v-col cols="2" md="4" lg="3">
          <!-- Logo -->
          <img
            v-if="!($route.meta.allowParentRoot &&parentRoot )"
            src="../assets/logo.svg"
            height="36"
            class="mt-1"
            alt="garfild logo"
          />
          <!-- Бутонче със стелка назад (текст на предишната страница + <- ) -->
          <v-sheet v-if="$route.meta.allowParentRoot && parentRoot" class="align-center mr-n12">
            <v-btn :to="parentRoot.to" icon class="pa-0">
              <v-icon color="primary" class="display-1">mdi-chevron-left</v-icon>
            </v-btn>
            <span class="title hidden-sm-and-down">{{parentRoot.title}}</span>
          </v-sheet>
        </v-col>
        <!-- Средната част -->
        <v-col cols="8" md="4" lg="6" class="d-flex align-center justify-center">
          <!-- Името на страницата, ако има зададено такова -->

          <v-toolbar-title v-if="$route.meta.allowPageTitle && pageTitle">
            <v-avatar class="mx-2" v-if="pageTitle.avatar" color="grey lighten-2" size="36">
              <img :src="pageTitle.avatar" alt />
            </v-avatar>

            <span class="title">{{pageTitle.text}}</span>

            <v-icon
              v-if="pageTitle.icon"
              class="mx-2"
              :class="pageTitle.icon.class"
            >{{pageTitle.icon.icon}}</v-icon>
          </v-toolbar-title>
        </v-col>
        <!-- Дясната част -->
        <v-col cols="2" md="4" lg="3" align="right">
          <router-link to="/profile">
            <v-avatar color="grey lighten-2" class="mt-1" size="36">
              <img :src="userAvatar" alt />
            </v-avatar>
          </router-link>
        </v-col>
      </v-row>
    </v-app-bar>

    <!-- Отдолу лентата със страниците -->
    <v-bottom-navigation
      fixed
      app
      :grow="$vuetify.breakpoint.smAndUp"
      color="primary"
      :value="true"
    >
      <!-- това mt-2 е тук, защото при build бутоните се качат горе, не го махай -->
      <v-btn
        class="text-center mx-sm-0 mx-md-1 mx-lg-2 mx-xl-2 mt-2"
        :class="isCaretaker?'mx-0':'mx-n1'"
        text
        :ripple="false"
        v-for="item in items"
        :key="item.title"
        :to="item.to"
      >
        <span class="d-none d-sm-flex">{{item.title}}</span>
        <!-- Hidden on xs -->
        <span>
          <v-icon class="d-inline">{{item.icon}}</v-icon>
          <!-- Цифричката за непрочетени известия -->
          <v-badge
            color="primary"
            :content="unreadNotifications"
            v-if="unreadNotifications && item.to=='/notifications'"
          ></v-badge>
        </span>
      </v-btn>
    </v-bottom-navigation>
  </div>
</template>

<script>
export default {
  props: [
    'parentRoot',
    'pageTitle',
    'unreadNotifications',
    'userAvatar',
    'isCaretaker'
  ],
  data: () => ({
    sidebar: false,
    itemsUser: [
      {
        title: 'Лица',
        icon: 'mdi-wheelchair-accessibility',
        to: '/individuals'
      },
      { title: 'Гледачи', icon: 'mdi-human', to: '/find/caretaker/for/' },
      { title: 'Поръчки', icon: 'mdi-note', to: '/requests' },
      { title: 'Съобщения', icon: 'mdi-message', to: '/messages' },
      { title: 'Известия', icon: 'mdi-bell', to: '/notifications' },
      { title: 'Настройки', icon: 'mdi-settings', to: '/settings' }
    ],
    itemsCaretaker: [
      { title: 'Календар', icon: 'mdi-calendar-today', to: '/callendar' },
      { title: 'Поръчки', icon: 'mdi-note', to: '/requests' },
      { title: 'Съобщения', icon: 'mdi-message', to: '/messages' },
      { title: 'Известия', icon: 'mdi-bell', to: '/notifications' },
      { title: 'Настройки', icon: 'mdi-settings', to: '/settings' }
    ]
  }),
  computed: {
    items () {
      if (this.isCaretaker) {
        return this.itemsCaretaker
      }
      return this.itemsUser
    }
  }
}
</script>
<style lang="scss">
.v-toolbar__content {
  width: 100%;
  justify-content: space-between;
}
</style>
