<template>
  <v-row>

    <v-row justify="center" v-show="!isOauthSignUP">

      <v-col cols="11" class="py-2" v-show="!show_email">
        <v-btn
          color="primary"
          block
          @click="show_email=!show_email">
          <v-icon class="pr-1">mdi-email</v-icon>
          Продължете с e-mail
        </v-btn>
      </v-col>

      <v-col cols="11" class="py-2" v-show="!show_email">
        <v-btn
          class="white--text"
          color="red darken-1"
          block
          :href="googleURL">
          <img class="pr-1" height=21px src="../assets/google.svg"/>
          Продължете с Google
        </v-btn>
      </v-col>

      <v-col cols="11" class="pt-2 pb-4" v-show="!show_email">
        <v-btn
          class="white--text"
          color="light-blue darken-4"
          block
          :href="facebookURL">
          <img class="pr-1" height=21px src="../assets/facebook.svg"/>
          Продължете с Facebook
          </v-btn>
      </v-col>

    </v-row>

    <v-stepper style="width:100%" class="elevation-0" align="center" v-show="show_email || provider" v-model="step">
      <v-stepper-items>
        <v-stepper-content step="1" class="px-4 py-0">
          <v-row>

            <!-- Е-mail -->
            <v-col cols="12">
              <v-text-field label="E-mail" v-if="!(provider && type=='login')" v-model.trim="email" :error-messages="errors['email']"></v-text-field>
            </v-col>

            <!-- Парола -->
            <v-col cols="12">
              <v-text-field
              v-if="!provider"
                label="Парола"
                v-model="password"
                type="password"
                :error-messages="errors['password']"
              ></v-text-field>
            </v-col>

            <!-- Потвърждение на паролата -->
            <v-col cols="12" v-if="type=='signup' && !provider">
              <v-text-field
                label="Повторете паролата"
                v-model="pass_conf"
                type="password"
                :error-messages="errors['password_confirmation']"
              ></v-text-field>
            </v-col>

            <!-- Назад -->
            <v-col cols="12">
              <v-btn
                class="mr-2"
                color="primary"
                rounded
                outlined
                min-width=88
                @click="type != 'login' ? $router.push({name: 'signup'}) : show_email=!show_email"
                :loading="loading">
                <v-icon dark>mdi-arrow-left</v-icon>
              </v-btn>
              <v-btn
                class="ml-2"
                color="primary"
                rounded
                min-width=88
                @click="type=='login' ? submit() : stepForward()"
                :loading="loading">
                <v-icon v-if="type=='signup'" dark>mdi-arrow-right</v-icon>
                <span v-else>ВХОД</span>
              </v-btn>
            </v-col>

          </v-row>
        </v-stepper-content>

        <v-stepper-content step="2" class="px-4 py-0">
          <v-row>

            <!-- Снимка -->
            <v-col cols="12" class="text-left" v-if="type=='signup' && isCaretaker">
              <ImgUpload :error-messages="errors['caretaker.picture']" v-model="caretaker.picture" />
            </v-col>

            <!-- Име -->
            <v-col cols="12" v-if="type=='signup'">
              <v-text-field
                label="Име"
                v-model.trim="first_name"
                :error-messages="errors['first_name']"
              ></v-text-field>
            </v-col>

            <!--Фамилия -->
            <v-col cols="12" v-if="type=='signup'">
              <v-text-field
                label="Фамилия"
                v-model.trim="second_name"
                :error-messages="errors['second_name']"
              ></v-text-field>
            </v-col>

            <!-- Населено място -->
            <v-col cols="12" v-if="type=='signup' && !isCaretaker">
              <LocationInput
                v-model="city"
                :error="errors['city'] ? errors['city'].contact(errors['location']? errors['location']: [] ) :errors['location']"
              />
            </v-col>

            <!-- Назад -->
            <v-col cols="12">
              <v-btn
                class="mr-2"
                color="primary"
                rounded
                outlined
                min-width="88"
                @click="type==='login' ? show_email=!show_email : step=1"
                :loading="loading"
              >
                <v-icon dark>mdi-arrow-left</v-icon>
              </v-btn>
              <v-btn
                class="ml-2"
                color="primary"
                rounded
                min-width="88"
                @click="!isCaretaker ?  submit() : stepForward()"
                :loading="loading"
              >
                <v-icon v-if="isCaretaker && step!=4" dark>mdi-arrow-right</v-icon>
                <span v-if="!isCaretaker || step==4">РЕГИСТРАЦИЯ</span>
              </v-btn>
            </v-col>

          </v-row>
        </v-stepper-content>

        <!-- Неща за caretaker-ите -->
        <v-stepper-content step="3" class="px-4 py-0" v-if="isCaretaker">
          <v-row>

            <!-- Биография -->
            <v-col cols="12">
              <v-textarea
                label="За Вас"
                v-model="caretaker.bio"
                :error-messages="errors['caretaker.bio']"
              ></v-textarea>
            </v-col>

            <!-- Рождена дата -->
            <v-col cols="12">
              <BirthDateInput v-model="caretaker.birth_date" :error="errors['birth_date']" />
            </v-col>

            <!-- Населено място -->
            <v-col cols="12" v-if="type=='signup'">
              <LocationInput
                v-model="city"
                :error="errors['city'] ? errors['city'].contact(errors['location']? errors['location']: [] ) :errors['location']"
              />
            </v-col>

            <!-- Образование -->
            <v-col cols="12">
              <v-textarea
                rows="2"
                label="Образование"
                v-model="caretaker.education"
                :error-messages="errors['caretaker.education']"
              ></v-textarea>
            </v-col>

            <!-- Назад -->
            <v-col cols="12">
              <v-btn
                class="mr-2"
                color="primary"
                rounded
                outlined
                min-width="88"
                @click="step=2"
                :loading="loading"
              >
                <v-icon dark>mdi-arrow-left</v-icon>
              </v-btn>
              <v-btn
                class="ml-2"
                color="primary"
                rounded min-width="88"
                @click="stepForward"
                :loading="loading">
                <v-icon dark>mdi-arrow-right</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>

        <!-- Step 4 -->
        <v-stepper-content step="4" class="px-4 py-0" v-if="isCaretaker">
          <v-row>

            <!-- Опит -->
            <v-col cols="12">
              <v-textarea
                label="Опит"
                v-model="caretaker.experience"
                :error-messages="errors['caretaker.experience']"
              ></v-textarea>
            </v-col>

            <!-- Надница -->
            <v-col cols="12">
              <v-text-field
                label="Почасова надница"
                type="number"
                min="0"
                v-model="caretaker.hour_rate"
                :error-messages="errors['caretaker.hour_rate']"
              >
                <span class="caption" slot="append">лв/час</span>
              </v-text-field>
            </v-col>

            <!-- Грижа за -->
            <v-col cols="12">
              <v-combobox
                v-model="caretaker.works_with"
                :items="perosnTypesSuggestions"
                :error-messages="errors['caretaker.works_with']"
                label="Мога да се грижа за"
                multiple
                chips
              ></v-combobox>
            </v-col>

            <!-- Умения -->
            <v-col cols="12">
              <v-combobox
                v-model="caretaker.skills"
                :items="skillsSuggestions"
                label="Умения"
                :error-messages="errors['caretaker.skills']"
                multiple
                chips
              ></v-combobox>
            </v-col>

            <!-- Назад -->
            <v-row>
              <v-col cols="12">
                <v-btn
                  class="mr-2"
                  color="primary"
                  rounded
                  outlined
                  min-width="88"
                  @click="step=3"
                  :loading="loading"
                >
                  <v-icon dark>mdi-arrow-left</v-icon>
                </v-btn>
                <v-btn
                  class="ml-2"
                  color="primary"
                  rounded
                  min-width="88"
                  @click="submit"
                  :loading="loading"
                >РЕГИСТРАЦИЯ</v-btn>
              </v-col>
            </v-row>

          </v-row>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>

    <!--ИЛИ divider  -->
    <v-row align="center" justify="center">
      <v-col cols="5" class="pl-12 pa-0">
        <v-divider></v-divider>
      </v-col>
      <v-col cols="2" class="text-center pa-0 grey--text text--lighten-1">или</v-col>
      <v-col cols="5" class="pr-12 pa-0">
        <v-divider></v-divider>
      </v-col>
      <v-col cols="12" class="font-weight-medium" align="center">
        <v-btn
          color="primary"
          rounded
          outlined
          min-width="88"
          :to="type!='login' ? '/login' : '/signup'"
        >{{type!='login' ? 'вход' : 'регистрация' }}</v-btn>
      </v-col>
    </v-row>

  </v-row>
</template>

<script>
import _ from 'lodash'
import globals from '@/globals.js'
import LocationInput from './LocationInput'
import BirthDateInput from './BirthDateInput'
import ImgUpload from './ImgUpload'

export default {
  name: 'AuthForm',
  components: {
    LocationInput,
    BirthDateInput,
    ImgUpload
  },
  props: {
    type: {
      type: String, // "login|signup"
      required: true
    },
    isCaretaker: {
      type: Boolean
    }
  },
  data () {
    return {
      errors: [],
      step: 1,
      show_email: false, // дали да покаже формата
      loading: false,

      email: '',
      password: '',
      pass_conf: '',
      first_name: '',
      second_name: '',

      city: {
        name: null
      },

      caretaker: {
        birth_date: null,
        bio: '',
        hour_rate: null,
        experiene: '',
        education: '',
        works_with: [],
        skills: [],
        picture: null
      },

      skillsSuggestions: globals.skills,
      perosnTypesSuggestions: globals.personTypes,
      googleURL: null,
      facebookURL: null,

      // неща за oauth-a
      oauthEmail: null,
      provider: null,
      providerID: null,
      isOauthSignUP: false
    }
  },
  mounted () {
    // Ако формата се ползва за login
    if (this.type === 'login') this.step = 1

    // Ако била извършена регистрация със  oauth
    if (this.$route.params.provider) {
      this.oauthEmail = this.$route.params.email
      this.provider = this.$route.params.provider
      this.providerID = this.$route.params.provider_id
      this.email = this.oauthEmail
      this.isOauthSignUP = true
    }

    // Aко е бил извършен логин със oauth
    if (this.$route.params.provider && !('email' in this.$route.params)) {
      this.isOauthSignUP = false
      this.submit()
    }

    // Намества адресите на бутоните за  oauth
    this.googleURL = globals.oauth.google.user
    this.facebookURL = globals.oauth.facebook.user
    if (this.isCaretaker) {
      this.googleURL = globals.oauth.google.caretaker
      this.facebookURL = globals.oauth.facebook.caretaker
    }
  },
  methods: {
    // Прави опит за login/signup с парола
    async submit () {
      this.loading = true
      let caretaker = JSON.parse(JSON.stringify(this.caretaker))
      if (caretaker.birth_date) caretaker.birth_date += 'T13:23:50.504642Z'
      caretaker.hour_rate = Number(caretaker.hour_rate)

      let user = {
        password: this.password,
        password_confirmation: this.pass_conf,
        email: this.email,
        first_name: this.first_name,
        second_name: this.second_name,
        location: {
          latitude: Number(this.city.lat),
          longitude: Number(this.city.lon)
        },
        city: this.city.name,
        caretaker,
        provider: this.provider,
        provider_id: this.providerID
      }

      try {
        await this.$store.dispatch('authUser', {
          user,
          signUp: this.type === 'signup',
          caretaker: this.isCaretaker
        })

        // Reset-ва компонента
        Object.assign(this.$data, this.$options.data())
        this.$emit('success')
      } catch (err) {
        this.errors = err.data
        this.$emit('error', err)
      }

      this.loading = false
    },

    async stepForward () {
      let stepFields = [
        ['email', 'password', 'password_confirmation'],
        ['caretaker.picture', 'first_name', 'second_name'],
        [
          'caretaker.bio',
          'caretaker.birth_date',
          'city',
          'location',
          'caretaker.education'
        ],
        [
          'caretaker.skills',
          'caretaker.works_with',
          'caretaker.experience',
          'caretaker.hour_rate'
        ]
      ]

      await this.submit()
      let errs = {}
      _.each(this.errors, (e, k) => {
        if (stepFields[this.step - 1].includes(k)) {
          errs[k] = e
        }
      })
      this.errors = errs

      if (_.isEmpty(this.errors)) {
        this.step++
      }
    }
  }
}
</script>
