<template>
  <v-dialog v-model="dialog" max-width="290">
    <template v-slot:activator="{ on }">
      <v-text-field
        v-on="on"
        label="Рождена дата"
        type="text"
        v-model="date"
        readonly
        :error-messages="error"
        :filled=filled
      ></v-text-field>
    </template>
    <v-card>
      <v-date-picker
        ref = "picker"

        @click:date="dialog = false"
        v-model="date"
        locale="BG"
        :max="new Date().toISOString()"
        :show-current="false"
      ></v-date-picker>

    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['value', 'error', 'filled'],
  data: () => ({
    dialog: false,
    date: ''
  }),

  watch: {
    value (v) {
      this.date = v
    },
    date (d) {
      this.$emit('input', d)
    },
    dialog () {
      setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  }
}
</script>

<style>
</style>
