<template>
  <v-dialog v-model="dialog" persistent :max-width="width">
    <v-card>
      <v-card-title class="headline">Обаждане</v-card-title>
      <v-card-text>
        <v-row class="mx-0">
          <v-col cols="12" align="center">
            <v-avatar color="grey lighten-2 elevation-2" class="mt-1" size="90">
              <img :src="other.avatar || '/img/def_user_avatar.png'" alt />
            </v-avatar>
          </v-col>
          <v-col cols="12" align="center">
            <span class="title">{{other.name}}</span>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-row class="mx-0 mb-5">
          <!-- "Вдигни" -->
          <v-col v-if="!calling" align="center">
            <v-btn @click="()=>{$emit('accepted');dialog = false}" class="pulsing mx-2" fab dark x-large color="success">
              <v-icon dark>mdi-phone</v-icon>
            </v-btn>
          </v-col>
          <!-- "Затвори" -->
          <v-col align="center">
            <v-btn
              @click="()=>{$emit('refused');dialog = false}"
              class="mx-2"
              :class="!calling?'pulsing':''"
              fab
              dark
              x-large
              color="error"
            >
              <v-icon dark>mdi-phone-hangup</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import { Howl, Howler } from 'howler'
export default {
  props: ['value', 'other', 'calling'],
  mounted () {
    // Звука
    this.sound.play()
  },
  beforeDestroy () {
    this.sound.stop()
  },
  data () {
    let sounds = ['/sounds/ring.wav', '/sounds/ring.mp3']
    if (this.calling) {
      sounds = ['/sounds/callingStandby.wav']
    }

    return {
      dialog: true,
      width: 390,
      sound: new Howl({
        src: sounds,
        loop: true,
        rate: 1.1
      })
    }
  },
  watch: {
    value (v) {
      this.dialog = v
    },
    dialog () {
      if (this.dialog !== this.value) {
        this.$emit('input', this.dialog)
      }
    }
  }
}
</script>

<style scoped>
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.pulsing {
  animation: pulse 0.9s infinite ease-out !important;
}
</style>
