<template>
  <div>
    <!-- Когато някой друг звъни-->
    <CallModal
      v-if="call.askAnswer"
      v-model="call.askAnswer"
      @refused="refuse"
      @accepted="accept"
      :other="call.from"
    />

    <!-- Когато нашият потребител звъни -->
    <CallModal
      v-if="call.sending"
      v-model="call.sending"
      :other="call.to"
      @refused="cancel"
      :calling="true"
    />

    <!-- Post forma-a, която да праща към частата с видео чата -->
    <form ref="mediaForm" method="POST" :action="videoChatServiceUrl" target="_blank">
      <input type="hidden" name="jwt_token" :value="jwt" />
      <input type="hidden" name="is_initiator" :value="call.sending" />
      <input type="hidden" name="hire_request" :value="hireRequest" />
    </form>
  </div>
</template>

<script>
import CallModal from './CallModal'
import { mapState } from 'vuex'
import _ from 'lodash'
import globals from '@/globals'

export default {
  components: { CallModal },
  data: () => ({
    videoChatServiceUrl: globals.videoChatServiceUrl,
    call: {
      // за получаване на обаждания
      askAnswer: false, // дали да покаже модала със "приемете обаждане"
      from: null, // кой му звъни,
      to: null, // ако логнатия user initiate-ва позвъняването
      sending: false
    },
    hireRequest: null
  }),
  mounted () {
    // Получава обаждане
    this.channel.bind('call-send', async data => {
      this.call.from = data.from
      // Ако caretaker-a прави позвъняването
      if (data.from.is_caretaker) {
        var c;
        ({ caretaker: c } = await this.$store.dispatch('getCaretaker', {
          id: data.from.id,
          setState: false
        }))
        this.call.from.avatar = c.picture
      } else this.call.from.avatar = ''

      this.hireRequest = data.hire_request
      this.call.askAnswer = true
    })

    // Обаждането е отказано от изпращача
    this.channel.bind('call-cancel', data => {
      this.close()
      console.log('call-cancel')
    })

    // Обаждането е отказано от приемача
    this.channel.bind('call-decline', data => {
      this.close()
      console.log('call-decline')
    })

    // Обаждането е прието
    this.channel.bind('call-accept', data => {
      this.$refs.mediaForm.submit()
      this.close()
      console.log('call-accept')
    })
  },

  methods: {
    async accept () {
      await this.$store.dispatch('mediaCall', {
        hireRequest: this.hireRequest,
        action: 'accept'
      })
      _.delay(() => {
        this.$refs.mediaForm.submit()
      }, 100)
    },
    async refuse () {
      await this.$store.dispatch('mediaCall', {
        hireRequest: this.hireRequest,
        action: 'decline'
      })
    },
    async cancel () {
      await this.$store.dispatch('mediaCall', {
        hireRequest: this.hireRequest,
        action: 'cancel'
      })
    },
    close () {
      this.call = {
        askAnswer: false,
        from: null,
        to: null,
        sending: false
      }
    }
  },
  watch: {
    userCalling (c) {
      this.call.to = c.to
      this.hireRequest = c.hireRequest
      this.call.sending = Boolean(c)
    },

    'call.sending': function () {
      if (!this.call.sending) {
        this.$store.commit('setMediaCalling', this.call.sending)
      }
    }
  },
  computed: mapState({
    userCalling: state => state.messages.mediaCalling,
    channel: state => state.notifications.pusherChannel,
    jwt: state => state.auth.token
  })
}
</script>

<style>
</style>
