<template>
    <v-row>
      <!-- Месеца годината и бутончета напред назад -->
      <v-col cols="12" sm="6" md="4" lg="4" align="center">
        <v-btn v-show="allowGoBack" icon class="ma-2" @click="$refs.calendar.prev()">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <span class="text-capitalize">{{title}}</span>
        <v-btn icon class="ma-2" @click="$refs.calendar.next()">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-col>

      <v-col cols="12" sm="6" md="8" lg="8">
        <v-select
          v-model="type"
          :items="types"
          dense
          outlined
          hide-details
          label="Изглед"
        ></v-select>
      </v-col>

      <v-col cols=12 style="height:60vh">
        <v-calendar
          ref="calendar"
          v-model="value"
          :weekdays="[1, 2, 3, 4, 5, 6, 0]"
          :type="type"
          @change="change"
          @click:event="gotoEvent"
          @click:date="viewDay"
          color="secondary"
          :events="normalizedEvents"
          event-more
        ></v-calendar>
      </v-col>
    </v-row>
</template>

<script>
import globals from '@/globals.js'
import moment from 'moment'
import _ from 'lodash'

export default {
  props: ['events'],
  data: () => ({
    value: '',
    type: 'month',
    types: [
      { text: 'Месечен', value: 'month' },
      { text: 'Седмичен', value: 'week' },
      { text: 'Дневен', value: 'day' },
      { text: 'Четиридневен', value: '4day' }
    ],
    title: moment().format('MMMM YYYY'),
    normalizedEvents: [],
    start: moment().format('YYYY-MM-DD')
  }),
  mounted () {
    this.normalizeEvents()
  },
  watch: {
    events () {
      this.normalizeEvents()
    }
  },
  methods: {
    // вика се при промяна на дните, които се показват на календара
    change (d) {
      if (this.start !== d.start.date) {
        this.normalizeEvents()
      }

      this.start = d.start.date
      this.title = moment(d.start.date).format('MMMM YYYY')
    },
    gotoEvent ({ event }) {
      this.$emit('goto', event.id)
    },
    // отваря изгледа за даден ден
    viewDay () {
      if (this.type === 'month') {
        this.type = 'week'
      } else {
        this.type = 'day'
      }
    },
    // Връща датите, които отговарят на даден ден от седмицата
    // Врща масив с дати един месец назад и един напред спреямо middleDate
    getDatesForWeekDay (weekDay, middleDate) {
      weekDay = Number(weekDay)
      var getWD = date => {
        date = moment(date)
        if (date.day() === 0) return 6 // неделя
        return date.day() - 1
      }

      var dates = []
      for (let i = -40; i < 40; i++) {
        var di = moment(middleDate).add(i, 'days')
        if (getWD(di) === weekDay) {
          dates.push(di)
        }
      }
      return dates
    },
    // Попълва масива с датите направени като за календара
    normalizeEvents () {
      var events = []

      // Добавя часове за даден ден
      var addHours = (date, hours) => {
        _.each(hours, hs => {
          events.push({
            name: hs.hire_request_verbose,
            id: hs.hire_request_id,
            start: `${date.format('YYYY-MM-DD')} ${globals.time(hs.start)}`,
            end: `${date.format('YYYY-MM-DD')} ${globals.time(hs.end)}`,
            color: 'red'
          })
        })
      }

      _.each(this.events, (e, k) => {
        // Ako k e номер на ден от седмицата
        if (!isNaN(k)) {
          _.each(this.getDatesForWeekDay(k, moment(this.start)), date => {
            addHours(date, e)
          })
        } else {
          addHours(moment(k.substring(0, 10)), e)
        }
      })
      this.normalizedEvents = events
    }
  },
  computed: {
    allowGoBack () {
      if (
        (moment().month() === moment(this.start).month() &&
        moment().year() === moment(this.start).year() &&
         moment().date() === moment(this.start).date()) || (moment().isSameOrAfter(this.start))

      ) {
        return false
      }
      return true
    }
  }
}
</script>

<style>
</style>
