<template>
  <v-row class="text-center" align="center" justify="center" no-gutters>

    <v-col cols=12>

      <v-avatar @click="profPicModal=!profPicModal" color="primary" size="75" class=" mt-5">
        <img :src="caretaker.caretaker.picture" alt />
      </v-avatar>

      <span class="text-capitalize subtitle-1 font-weight-bold d-block">
        {{caretaker.first_name}} {{caretaker.second_name}}
      </span>

    </v-col>

    <v-col cols=12>

      <v-icon class="yellow--text text--darken-1">mdi-star</v-icon>

      <span class="grey--text text--darken-2 font-weight-medium pr-2">
        {{caretaker.caretaker.rating?caretaker.caretaker.rating:"0.0"}}
      </span>

      <span class="primary--text font-weight-medium">
        {{caretaker.caretaker.hour_rate}} лв/час
      </span>

    </v-col>

    <v-col cols=12>

      <span class="grey--text text--darken-2 subtitle-2 font-weight-medium">
        {{caretaker.city|city}} • {{caretaker.caretaker.birth_date|age}}
      </span>

    </v-col>

    <v-col cols="12" v-if="myself">
       <v-btn class="my-4" color="grey" outlined @click="$emit('logout')">
        <v-icon dark>mdi-logout</v-icon> Излезте
      </v-btn>
    </v-col>

    <v-col cols=12 v-if="!myself">
      <v-btn v-if="showHire" @click="$emit('hire-clicked')"  class="my-8 mr-1 primary">
        <span v-if="!showSendMsg">изпратете</span> заявка
      </v-btn>

      <v-btn v-if="showSendMsg" :to="`/message/${showSendMsg}`" class="my-8 ml-1" color="primary" outlined>изпратете съобщение</v-btn>
    </v-col>

    <v-tabs v-model="tab" grow>
      <v-tab>Информация</v-tab>
      <v-tab>Отзиви</v-tab>
    </v-tabs>

    <v-tabs-items class="text-left" v-model="tab" >
      <v-tab-item class="py-2 px-4">
        <v-list-item two-line v-for="p in params" :key="p[0]">
          <v-list-item-content class="py-2">

            <v-list-item-title class="subtitle-2 grey--text text--lighten-1">
              {{p[1]}}
            </v-list-item-title>

            <div class="subtitle-1 grey--text text--darken-4">
              {{caretaker.caretaker[p[0]]|infoFormat}}
            </div>

            <v-divider class="mt-2"></v-divider>

          </v-list-item-content>
        </v-list-item>
      </v-tab-item>

      <v-tab-item>
        <v-alert
        class="mt-2"
        border="top"
        type="info"
      >
         <span>{{myself? 'Нямате никакви отзиви' : 'Няма отзиви за този гледач' }} </span>
        </v-alert>
      </v-tab-item>
    </v-tabs-items>

    <v-dialog
        v-model="profPicModal"
        width="500"
        heigth="500"
      >
      <v-sheet color="transparent">
        <v-img   :src="caretaker.caretaker.picture" aspect-ratio="1"></v-img>
      </v-sheet>
    </v-dialog>

  </v-row>
</template>

<script>
import globals from '@/globals.js'
export default {
  props: ['caretaker', 'myself', 'showSendMsg', 'showHire'],
  data: () => ({
    tab: 0,
    profPicModal: false,
    params: [
      ['education', 'Образование'],
      ['bio', 'За гледача'],
      ['experience', 'Предишен опит'],
      ['works_with', 'Грижа'],
      ['skills', 'Умения']
    ]
  }),
  filters: {
    age: globals.age,
    city (c) {
      return c.split(',')[0]
    },
    infoFormat (d) {
      if (typeof d === 'string') return d
      return d.join(' • ')
    }
  }
}
</script>
