<template>
  <v-row>
    <v-col cols=12>
      <v-card
        class="pa-4 mb-4"
        transition="scale-transition"
        v-for="c in caretakers"
        :key="c.id"
        @click="gotoCaretaker(c)"
      >

        <span></span>
        <v-avatar class="mr-2 float-left" color="primary" size="56">
          <img :src="c.caretaker.picture" alt />
        </v-avatar>

        <span class="float-right">
          <v-icon class="yellow--text text--darken-1">mdi-star</v-icon>
          <span class="grey--text text--darken-2 font-weight-medium">
            {{c.caretaker.rating?c.caretaker.rating:"0.0"}}
          </span>
        </span>

        <div class="subtitle-1 font-weight-bold text-capitalize" style="line-height:18px">
          {{c.first_name}} {{c.second_name}}
        </div>
        <div class="subtitle-2 primary--text font-weight-medium">
          {{c.caretaker.hour_rate}} лв/час
        </div>
        <div class="caption grey--text font-weight-medium">
          {{c.city|city}} • {{c.caretaker.birth_date|age}}
        </div>

      </v-card>

      <div class="text-center" v-show="!caretakers.length">
        <v-col cols=12 class="headline">
          За съжаление не успяхме да намерим гледачи :(
        </v-col>
        <v-col cols=12>
          <v-btn color="primary" :to="parentRoot?parentRoot.to:null">Търсете отново</v-btn>
        </v-col>
      </div>

    </v-col>
  </v-row>
</template>

<script>
import globals from '@/globals.js'

export default {
  methods: {
    gotoCaretaker (caretaker) {
      this.$emit('goto', caretaker)
    }
  },
  props: ['caretakers', 'parentRoot'],
  filters: {
    age: globals.age,
    city (c) {
      return c.split(',')[0]
    }
  },
  computed: {

  }
}
</script>

<style>
</style>
