<template>
  <v-row class="d-block">
    <v-col cols="12" class="px-1">
      <!-- Messages -->
      <v-sheet v-on:scroll.passive="onScroll" class="messages elevation-1" ref="messages">
        <!-- Loader -->
        <v-row v-show="loading">
          <v-col class="12" align="center">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </v-col>
        </v-row>

       <v-row class="mx-0">
          <v-col
            cols="8"
            class="py-1 messageHolder"
            v-for="(msg,k) in messages"
            :key="k"
            :offset="msg.left?0:4"
            :class="{
            'pb-12':k===messages.length-1 && !typing,
            }"
            :id="`message${msg.id}`"
            :ref="k===messages.length-1?'messageLast':null"
            :data-helper-text="readCursor&&readCursor.position==msg.id?readAtString(readCursor.updatedAt):false  "
          >
            <div
              :class="{
                'grey lighten-2 left':msg.left,
                'float-right primary white--text right':!msg.left,
                }"
              class="message py-2 px-4"
            >
              <div v-if="msg.initial" class="font-weight-bold">
                Изпратена заявка
                <a
                  @click="$emit('goto', msg.initial)"
                  class="font-weight-bold"
                  :class="{'warning--text text--lighten-2':!msg.left}"
                >ПРЕГЛЕД</a>
              </div>
              {{msg.text}}
            </div>
          </v-col>

          <v-col cols="8" class="my-1" v-if="typing">
            <TypingIndicator class="mb-12" />
          </v-col>
        </v-row>

      </v-sheet>
    </v-col>

    <v-col cols="12" align-self="stretch" class="px-1 mt-n5">
      <v-text-field
        v-model="message"
        label="Съобщение"
        @keyup.enter="send"
        filled
        flat
        hide-details
        background-color="grey lighten-3"
      >
        <template v-slot:append>

          <v-btn @click="send" icon color="primary">
              <v-icon >mdi-send</v-icon>
            </v-btn>
           <v-btn @click="$emit('call')"  icon color="pink">
              <v-icon>mdi-cctv</v-icon>
            </v-btn>

        </template>
      </v-text-field>
    </v-col>
  </v-row>
</template>

<script>
import TypingIndicator from './TypingIndicator'
import _ from 'lodash'
import globals from '@/globals.js'

const LoadMoreBeforeTop = 40

export default {
  props: ['messages', 'typing', 'loading', 'readCursor'],
  components: { TypingIndicator },
  data: () => ({
    message: '',
    lastMsgID: null, // последното пратено съобщение (контрола за това, дали да scroll-ва)
    firstMsgID: null // най-горното съобщение (контролл за scroll-a)
  }),
  methods: {
    send () {
      if (this.message === '') return
      this.$emit('sent', this.message)
      this.message = ''
    },
    onScroll (e) {
      if (e.target.scrollTop <= LoadMoreBeforeTop) {
        this.$emit('loadMore')
      }
    },
    // Връща правено оформено "прочетено на" съобщение
    readAtString (d) {
      return 'прочетено ' + globals.timeFromNow(d)
    }
  },
  watch: {
    message: _.throttle(function () {
      this.$emit('typing')
    }, 300),

    messages (ms) {
      var topPos = false
      // Aко е първото получено съобщение
      if (ms.length <= 1) {
        return
      }

      setTimeout(() => {
        if (topPos === false) topPos = this.$refs.messageLast[0].offsetTop

        // проверка, дали последното съобщение се е променило
        if (this.lastMsgID === this.messages[this.messages.length - 1].id) {
          topPos = document.getElementById(`message${this.firstMsgID}`)
            .offsetTop
        }

        // scroll-ва
        this.$refs.messages.$el.scrollTop = topPos

        // задава контролни променливи
        this.lastMsgID = this.messages[this.messages.length - 1].id
        this.firstMsgID = this.messages[0].id
      }, 10)
    }
  }
}
</script>

<style lang="scss" scoped>
.messages {

  overflow-y: auto;
  height: calc(100vh - 165px) !important;
}
.message {
  border-radius: 1rem;
  display: inline-block;
}

.message.right {
  border-top-right-radius: 0;
  float: right;
}

.message.left {
  border-top-left-radius: 0;
}

.messageHolder[data-helper-text]:after {
  content: attr(data-helper-text);
  margin-left: 100%;
  float: right;
  white-space: nowrap;
  color: #757575;
}

.mb-14 {
  margin-bottom: 60px;
}
.pb-14 {
  padding-bottom: 60px !important;
}
</style>
