<template>
  <v-sheet>
    <div
      @click="$emit('goto',c.id)"
      v-ripple
      class="px-3 py-2 ma-2"
      v-for="c in conversations"
      :key="c.id"
    >
      <span></span>
      <!-- Aватар -->
      <div>
        <!-- Aватар -->
        <v-avatar class="mr-3 float-left" color="grey lighten-2" size="52">
          <img :src="c.to.avatar" alt />
        </v-avatar>
        <!-- Active status -->
        <v-icon
          style="float:left;margin-top:33px;margin-left:-35px"
          :class="c.to.active?'light-green--text text--accent-4':'yellow--text'"
        >mdi-circle</v-icon>
      </div>

      <div>
        <!-- Време -->
        <span
          v-if="c.lastMessage"
          :class="{
              'grey--text text--darken-1':!c.unread,
              'font-weight-medium':c.unread,
        }"
          class="body-1 float-right"
        >
          {{c.lastMessage.date | time}}
          <br />

          <!-- Брой непрочетени съобщения -->
          <v-avatar v-if="c.unread" class="float-right" color="primary" size="23">
            <span class="white--text caption">{{c.unread}}</span>
          </v-avatar>
        </span>
        <!-- Изпращач -->
        <span
          :class="{'font-weight-bold':c.unread}"
          class="text-capitalize"
        >{{c.to.first_name}}&nbsp;{{c.to.second_name}}</span>
        &nbsp;
        <br />
        <!-- Съобщение -->
        <span
          v-if="c.lastMessage"
          :class="{
              'grey--text text--darken-1':!c.unread,
              'font-weight-medium':c.unread,
        }"
          class="body-1"
        >{{c.lastMessage.text|truncate}}</span>
      </div>
      <br />
      <v-divider></v-divider>
    </div>
  </v-sheet>
</template>

<script>
import globals from '@/globals.js'
import _ from 'lodash'

export default {
  props: ['conversations'],
  filters: {
    time (d) {
      return globals.timeFromNow(d)
    },
    truncate (s) {
      return _.truncate(s)
    }
  }
}
</script>

<style>
</style>
