<template>
    <v-alert type="success">
      Успешна регистрация! За да продължите напред, моля потвърдете E-mail адреса си.
    </v-alert>
</template>

<script>
export default {

}
</script>

<style>

</style>
