<template>
  <v-sheet>
    <v-stepper v-model="step" vertical>
      <!-- Стъпка 0 - избор на лице -->
      <v-stepper-step v-if="individualSelect" :complete="step > 1" :step="1" editable>
        Лице
        <small>Изберете за кого търсите гледач</small>
      </v-stepper-step>

      <v-stepper-content :step="1"  v-if="individualSelect">
        <v-select
          v-model="individual"
          :items="individualItems"
          label="Лице"
          placeholder="За кого търсите гледач"
        >

          <template v-slot:item="data">
          <template>
          <v-list-item-avatar>
                    <img :src="data.item.avatar">
                  </v-list-item-avatar>
                   <v-list-item-content>
             <v-list-item-title v-text="data.item.name"></v-list-item-title>
              <v-list-item-subtitle v-html="data.item.age"></v-list-item-subtitle>
               </v-list-item-content>
          </template>
        </template>

        </v-select>

      </v-stepper-content>

      <!-- Стъпка 1 - избор на дати -->
      <v-stepper-step :complete="step > getStepN(1)" :step="getStepN(1)" editable>
        Дата {{getStepN(1)}}
        <small>Изберете датите, когато ще се нуждаете от гледача</small>
      </v-stepper-step>

      <v-stepper-content :step="getStepN(1)">
        <v-radio-group class="ml-2" v-model="dateSelection" row>
          <v-radio label="Повтаря се" value="weekly" color="primary"></v-radio>
          <v-radio label="Не се повтаря" value="custom" color="primary"></v-radio>
        </v-radio-group>

        <v-date-picker
          class="mb-3"
          v-show="dateSelection=='custom'"
          full-width
          v-model="dates"
          multiple
          locale="BG"
          :min="new Date().toISOString()"
        ></v-date-picker>

        <v-row v-show="dateSelection=='weekly'" class="mx-1" justify="space-around">
          <v-checkbox
            v-for="(d,i)  in daysOfTheWeek"
            :key="i"
            v-model="weekDays"
            color="primary"
            :label="d"
            :value="i"
          ></v-checkbox>
        </v-row>

        <v-btn class="float-right" :disabled="stepCompleted<1" color="primary" @click="step++">
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
      </v-stepper-content>

      <!--------- Стъпка 2 - избор на часове --------------->
      <v-stepper-step
        :complete="step >  getStepN(2)"
        :step="getStepN(2)"
        :editable="stepCompleted>=  getStepN(1)"
      >
        Час
        <small>Изберете часовия интервал, в който ще се нуждаете от гледача</small>
      </v-stepper-step>
      <v-stepper-content :step="getStepN(2)">
        <v-list-item v-for="(d,i) in days" :key="i" two-line dense>
          <v-list-item-content>
            <v-list-item-title>
              {{getVerboseDay(d)}}
              <v-btn @click="timeEditClicked(i)" color="secondary" icon text>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span v-if="(i in times)">
                {{times[i].start}} - {{times[i].end}}
                ({{getDuration(times[i].start,times[i].end)}} часа)
              </span>
              <span v-else class="red--text">няма определен час</span>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-btn
          class="ml-1 float-right"
          :disabled="stepCompleted< getStepN(2)"
          color="primary"
          @click="step++"
        >
          <v-icon>mdi-arrow-right</v-icon>
        </v-btn>
        <v-btn class="ml-1 float-right" text @click="step--">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-stepper-content>

      <!--------- Стъпка 3 избор на допълнителни изисквания и радиус--------------->
      <v-stepper-step
        :complete="step >  getStepN(3)"
        :step=" getStepN(3)"
        :editable="stepCompleted>= getStepN(2)"
      >
        Допълнителни изисквания
        <small>Изберете допълнителните изисквания, които имате към гледача</small>
      </v-stepper-step>
      <v-stepper-content :step="getStepN(3)">
        <!-- Умения -->
        <v-select v-model="skills" :items="possibleSkills" multiple label="Умения и изисквания"></v-select>

        <!-- Радиус -->
        <v-text-field v-model="proximity" label="В близост от" type="number" min="1" max="999">
          <span class="caption" slot="append">км</span>
        </v-text-field>

        <v-btn
          :disabled="stepCompleted< getStepN(3)"
          :loading="loading"
          class="mr-1 float-right"
          color="primary"
          @click="submit()"
        >Търсете</v-btn>
        <v-btn class="ml-1 float-right" text @click="step--">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
      </v-stepper-content>
    </v-stepper>

    <!-- Модалчето с time picker-a -->
    <v-dialog v-model="timeDialog" max-width="600" persistent>
      <v-card class="pa-2">
        <div class="ma-3 headline">
          Изберете час за
          <span class="text-lowercase">{{curentDayTimeSelectionVerbose}}</span>
        </div>

        <v-row class="ma-0">
          <v-col v-for="(menu,k) in  curentTimePeriodMenus" :key="k" cols="6">
            <v-menu
              ref="menu"
              v-model="curentTimePeriodMenus[k].active"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="curentTimePeriod[k]"
                  :label="curentTimePeriodMenus[k].label"
                  append-icon="mdi-clock"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker
                v-if="curentTimePeriodMenus[k].active"
                v-model="curentTimePeriod[k]"
                full-width
                format="24hr"
                :min="curentTimePeriodMenus[k].hasMin?curentTimePeriod.start:null"
                :max="curentTimePeriodMenus[k].hasMax?curentTimePeriod.end:null"
              ></v-time-picker>
            </v-menu>
          </v-col>
        </v-row>

        <v-checkbox
          class="ma-3"
          color="primary"
          v-model="timeApplyForAll"
          label="Приложете за всички дни"
        ></v-checkbox>

        <v-row class="ma-0">
          <v-col cols="12" class="float-right">
            <v-btn class="ml-1 float-right" color="primary" @click="timeSelected">Готово</v-btn>
            <v-btn class="mr-1 float-right" text @click="timeDialog=false">Oтказ</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  </v-sheet>
</template>

<script>
import moment from 'moment'
import globals from '@/globals.js'
import _ from 'lodash'

export default {
  props: ['searchParams', 'individualSelect', 'individuals', 'loading'],
  data: () => ({
    daysOfTheWeek: globals.daysOfTheWeekShort,
    daysOfTheWeekFull: globals.daysOfTheWeek,
    possibleSkills: globals.skills,

    step: 1,
    timeEdit: null, // ТОВА НЕ ПОМНЯ КАКВО ПРАВИ
    timeDialog: false,

    individual: null,

    // За модала с часовниците
    curentTimePeriod: {
      start: null,
      end: null
    },
    timeApplyForAll: false,

    // За модала с часовниците
    curentTimePeriodMenus: {
      start: {
        hasMin: false,
        hasMax: true,
        active: false,
        label: 'Oт'
      },
      end: {
        hasMin: true,
        hasMax: false,
        active: false,
        label: 'До'
      }
    },
    dateSelection: null, // custom|weekly
    curentDayTimeSelection: null, // Денят, за който се определя време

    weekDays: [],
    dates: [],
    times: [],
    skills: [],
    proximity: 10
    // TODO::loading state
  }),
  mounted () {
    var sp = this.searchParams
    if (sp) {
      this.individual = sp.individual
      this.dateSelection = sp.weekly ? 'weekly' : 'custom'
      this.proximity = sp.proximity
      this.skills = sp.skills.split(',')

      this.weekDays = []
      this.dates = []
      this.times = []

      var times = []

      _.forEach(sp.times, (time, date) => {
        if (sp.weekly) {
          this.weekDays.push(Number(date))
        } else {
          this.dates.push(date)
        }
        times.push(time)
      })
      setTimeout(() => {
        this.times = times
      }, 100)

      console.log(times)
    }
  },
  watch: {
    dateSelection () {
      this.times = []
    },
    days () {
      this.times = []
    },
    individualSelect () {
      // fix-вва бъга с отварянето на първа и втора стъпка едновременно при наличие на idnividualSelect
      this.step = 0
      setTimeout(() => {
        this.step = 1
      }, 100)
    }
  },
  methods: {
    submit () {
      var times = {}
      this.times.forEach((e, k) => {
        times[this.days[k]] = e
      })

      this.$emit('find-clicked', {
        times,
        weekly: this.dateSelection === 'weekly',
        proximity: this.proximity,
        skills: this.skills.join(','),
        individual: this.individual
      })
    },
    timeSelected () {
      this.timeDialog = false

      var newTimes = JSON.parse(JSON.stringify(this.times))
      newTimes[this.curentDayTimeSelection] = this.curentTimePeriod

      if (this.timeApplyForAll) {
        newTimes = []
        this.days.forEach(() => {
          newTimes.push(JSON.parse(JSON.stringify(this.curentTimePeriod)))
        })
      }

      this.times = newTimes
    },
    timeEditClicked (i) {
      this.timeDialog = true
      this.curentDayTimeSelection = i

      this.timeApplyForAll = false

      if (i in this.times) {
        this.curentTimePeriod = this.times[i]
        return
      }
      this.curentTimePeriod = {
        start: null,
        end: null
      }
    },
    // Изчислява времето между 2 часа
    getDuration (start, end) {
      let d = globals.duration(start, end)
      let h = Math.floor(d.asHours()) // продължителността в часове (закръглено)
      let m = d.asMinutes() - h * 60

      // eslint-disable-next-line
      h < 10 ? (h = "0" + h) : h;
      // eslint-disable-next-line
      m < 10 ? (m = "0" + m) : m;

      return h + ':' + m
    },
    getVerboseDay (d) {
      if (this.dateSelection === 'custom') {
        return moment(d).format('DD MMMM YYYY')
      }
      return this.daysOfTheWeekFull[d]
    },
    // Връща правилния номер на стъпката в зависимост дали има избор на лице като първа
    getStepN (n) {
      if (this.individualSelect) {
        return n + 1
      }
      return n
    }
  },
  computed: {
    // избраните дни дати
    days () {
      if (this.dateSelection === 'custom') {
        return this.dates
      }
      return this.weekDays
    },
    // За header-a на модалчето за избиране на часове
    curentDayTimeSelectionVerbose () {
      return this.getVerboseDay(this.days[this.curentDayTimeSelection])
    },
    stepCompleted () {
      var step = 0
      if (this.days.length) step = 1
      if (step >= 1 && this.times.length === this.days.length) step = 2
      if (step >= 2 && this.proximity && this.skills.length) step = 3
      // Aко има нулева стъпка избор на лице
      if (this.individualSelect) step++
      return step
    },
    individualItems () {
      if (!this.individuals) return []
      var items = _.map(this.individuals, i => {
        return {
          value: i.id,
          name: i.name,
          text: i.name,
          avatar: i.picture,
          age: globals.age(i.birth_date)
        }
      })

      return items
    }
  }
}
</script>
