<template>
  <v-row class="pa-4">
    <v-carousel hide-arrows hide-delimiters :value="step" :show-arrows="false">
      <v-carousel-item v-for="(st, i) in steps" :key="i">
        <v-row justify="center">
          <v-avatar size="150">
            <img :src="'/img/hello_world/'+st.image+'.svg'" />
          </v-avatar>
        </v-row>

        <v-row class="text-center" align="center" justify="center">
          <v-col cols="12" class="pb-0 headline font-weight-bold">{{st.header}}</v-col>
          <v-col
            cols="12"
            class="pt-0 title font-weight-regular grey--text grey-darken-1"
            v-html="st.content"
          ></v-col>
        </v-row>
      </v-carousel-item>
    </v-carousel>

    <!-- Навигацията  -->
    <v-row class="navigation" justify="center">
      <v-col cols="3">
        <v-btn class="mx-2 grey--text grey-lighten-1" fab text v-show="step!=0" @click="step-=1">
          <v-icon dark>mdi-arrow-left</v-icon>
        </v-btn>
      </v-col>

      <v-col cols="6" class="text-center circles">
        <span v-for="i in 3" :key="i">
          <v-icon
            class="primary--text"
            @click="step=i-1"
          >{{step==i-1?'mdi-circle':'mdi-circle-outline'}}</v-icon>
        </span>
      </v-col>

      <v-col cols="3">
        <v-btn class="mx-2" color="primary" fab dark @click="nextStep">
          <v-icon v-if="step!=2" dark>mdi-arrow-right</v-icon>
          <v-icon v-else>mdi-check</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'

export default {
  props: ['isCaretaker'],
  data: () => ({
    step: 0,
    allSteps: {
      user: [
        {
          image: 'fs-user-1',
          header: 'Здравейте,',
          content:
            'Добре дошли в приложението, чрез което ще намерите най-подходящия гледач за Вашето семейство!'
        },
        {
          image: 'fs-user-2',
          header: 'Гледач за всеки един!',
          content:
            'С готовите шаблони търсенето на гледач става лесно като детска игра!'
        },
        {
          image: 'fs-user-3',
          header: 'Готови ли сте?',
          content: 'Нека да добавим Вашето първо лице!'
        }
      ],
      // Текст, за потребителите, които са гледачи
      caretaker: [
        {
          image: 'fs-user-1',
          header: 'Здравейте,',
          content:
            'Добре дошли в приложението, чрез което ще намерите най-подходящите лица, за които да се грижите!'
        },
        {
          image: 'fs-user-2',
          header: 'Лице за всеки един!',
          content:
            'С готовите шаблони лицата ще Ви намерят лесно като детска игра!'
        },
        {
          image: 'fs-user-3',
          header: 'Готови ли сте?',
          content: 'Нека сега Вашите лица да Ви намерят!'
        }
      ]
    }
  }),
  created () {
    this.insertFirstName()
  },
  methods: {
    nextStep () {
      if (this.step === this.steps.length - 1) {
        let page = 'addIndividual'
        if (this.isCaretaker) {
          page = 'callendar'
          localStorage.setItem('firstTime', false)
          location.reload()
        }

        this.$router.push({ name: page })
        return
      }
      this.step++
    },
    insertFirstName () {
      // Определя правилния stepSet
      var stepSet = 'user'
      if (this.isCaretaker) stepSet = 'caretaker'

      this.allSteps[stepSet][0].header = this.allSteps[stepSet][0]
        .header
        .replace(',', ', ' + _.capitalize(this.userFirstName) + '!')
    }
  },

  computed: {
    steps () {
      if (this.isCaretaker) return this.allSteps.caretaker
      return this.allSteps.user
    },
    ...mapState({
      userFirstName: state => state.user.first_name
    })
  },
  watch: {
    userFirstName () {
      this.insertFirstName()
    }
  }
}
</script>

<style lang="scss" scoped>
.circles {
  span {
    @media screen and (min-width: 700px) {
      padding: 0rem 1rem 0 1rem;
    }

    i {
      margin-top: 1rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 0 0 0;
  }
}
</style>
