<template>
  <v-row align="center" justify="center">
    <!-- Статус -->
    <v-col cols="12" class="subtitle-2 grey--text text--darken-1 font-weight-bold" v-if="!send">
      <span class="pb-2 d-block">
        <v-icon>mdi-timer-sand</v-icon>Статус
      </span>

      <Status :status="status" />
    </v-col>

    <!-- Лице -->
    <v-col cols="12" class="subtitle-2 grey--text text--darken-1 font-weight-bold">
      <span class="pb-2 d-block">
        <v-icon>mdi-account</v-icon>Лице
      </span>

      <v-avatar class="mr-2" color="grey lighten-2" size="36">
        <img :src="individual.picture" alt />
      </v-avatar>

      <a link class="subtitle-2 font-weight-regular text-capitalize"
        @click="$emit('gotoIndividual', individual)"
      >{{individual.name}}</a>
    </v-col>

    <!-- Дата и час -->
    <v-col cols="12" class="subtitle-2 grey--text text--darken-1 font-weight-bold">
      <span class="pb-2 d-block">
        <v-icon>mdi-calendar</v-icon>Дата и час
      </span>

      <div>
        <div
          class="subtitle-1 grey--text text--darken-4 text-capitalize"
          v-for="(t,d) in times"
          :key="d"
        >
          {{weekly ? weekDays[d] : d|date}} -
          <span
            class="text-lowercase caption"
          >от {{t.start|time}} до {{t.end|time}}</span>
        </div>
      </div>
    </v-col>

    <!-- Допълнителна информация -->
    <v-col cols="12" class="subtitle-2 grey--text text--darken-1" v-if="send">
      <span class="pb-2 d-block">
        <v-icon>mdi-information</v-icon>Допълнителна информация
      </span>

      <v-textarea
        solo
        :error-messages="typeof errors!=='undefined'?errors['message']:[]"
        rows="3"
        name="input-7-1"
        label="Допълнителна информация"
        v-model="msg"
        :value="defMsg"
        counter="300"
        hint="Пр: Трябва да се храни на всеки 3 часа"
      ></v-textarea>
    </v-col>

    <v-col cols="12" class="subtitle-2 grey--text text--darken-1" v-else>
      <span class="pb-2 d-block">
        <v-icon>mdi-information</v-icon>Допълнителна информация
      </span>

      <span class="body-2 grey--text text--darken-3">{{message}}</span>
    </v-col>

    <v-col cols="12" class="py-1">
      <v-divider></v-divider>
    </v-col>

    <v-col cols="6">
      <span class="subtitle-2 grey--text text--darken-4 d-block">Общо</span>
      <span class="title primary--text">{{totalPrice}} {{weekly?" лв/седмица":" лева"}}</span>
    </v-col>

    <v-col cols="6" class="text-right">
      <v-avatar class="mr-1" color="grey lighten-2" size="36">
        <img :src="!isCaretaker?caretaker.caretaker.picture:'/img/def_user_avatar.png'" alt />
      </v-avatar>

      <span class="subtitle-1 text-capitalize">
        <span v-if="!isCaretaker">
          <a @click="$emit('gotoCaretaker')">{{caretaker.first_name}}&nbsp;{{caretaker.second_name}}</a>
        </span>
        <span v-else>{{user.first_name}}&nbsp;{{user.second_name}}</span>
      </span>
    </v-col>

    <v-col cols="12" class="py-5 text-center" v-if="send">
      <v-btn color="primary" block @click="$emit('send', msg)">Изпратете заявка</v-btn>
    </v-col>

    <v-col cols="6" class="text-center" v-if="!send && isCaretaker && status=='pending' ">
      <v-btn @click="confirmModal='accept'" block class="success">Приемете</v-btn>
    </v-col>

    <v-col cols="6" class="text-center" v-if="!send && isCaretaker && status=='pending'">
      <v-btn @click="confirmModal='decline'" block color="red" outlined>Откажете</v-btn>
    </v-col>

    <v-col cols="12" class="text-center mt-n3" v-if="!send && isCaretaker">
      <v-btn block class="secondary" :to="'/message/'+id">Изпратете съобщение</v-btn>
    </v-col>

    <!-- Модал за потвърждаване на приемане/отхвърляне на заявка -->
    <v-dialog :value="confirmModal" max-width="490" v-if="!send && isCaretaker">
      <v-card>
        <v-card-title class="headline">{{confirmModal=='accept' ?'Потвърждаване' :'Отказване' }}</v-card-title>

        <v-card-text>
          <div
            class="font-weight-medium subtitle-1"
          >Сигурни ли сте, че искате да {{confirmModal=='accept' ?'потвърдите' :'откажете' }} поръчката?</div>Спокойно, не е нужно да решавате сега. Препоръчваме преди да вземете решениер първо да изпратите съобщение на настойника
          (
          <span class="text-capitalize">{{user.first_name}} {{user.second_name}}</span>), за да уточните всички детайли.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey" text @click="confirmModal = false">Не</v-btn>

          <v-btn color="primary" text @click="()=>{$emit(confirmModal);confirmModal = false}">Да</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import globals from '@/globals.js'
import moment from 'moment'
import _ from 'lodash'
import Status from './HireRequestStatus'

export default {
  props: [
    'id',
    'send',
    'caretaker',
    'individual',
    'user',
    'weekly',
    'times',
    'errors',
    'message',
    'status',
    'isCaretaker'
  ],
  components: { Status },
  data () {
    return {
      weekDays: globals.daysOfTheWeek,
      msg: this.defMsg,
      confirmModal: false
    }
  },
  filters: {
    date (d) {
      let date = moment(d)
      if (!date._isValid) return d
      return moment(d).format('DD MMMM YYYY')
    },
    time (t) {
      return globals.time(t)
    }
  },
  computed: {
    defMsg () {
      let individualName = _.capitalize(this.individual.name)
      let m = `Пр: ${individualName} трябва да се храни на всеки 3 часа.`
      // eslint-disable-next-line
      this.msg = m;
      return m
    },
    duration () {
      var d = 0
      _.forEach(this.times, t => {
        d += globals.duration(t.start, t.end).asHours()
      })
      return d.toFixed(2)
    },
    totalPrice () {
      return (this.caretaker.caretaker.hour_rate * this.duration).toFixed(2)
    }
  }
}
</script>
