<template>
  <v-row>

    <v-list two-line width=100%>

      <v-list-item
        v-for="r in requests"
        :key="r.id"
        @click="$emit('goto',r)"
      >
        <v-list-item-avatar>
          <img :src="isCaretaker?r.individual.picture : r.caretaker.caretaker.picture" alt />
        </v-list-item-avatar>

        <v-list-item-content>

          <v-list-item-title class="text-capitalize">
            <span>{{isCaretaker?r.individual.name : r.caretaker.first_name}}</span>
            <Status :status="r.status"/>
          </v-list-item-title>

          <v-list-item-subtitle class="font-weight-medium grey--text text--darken-1">
            {{r.created_at|date}}
          </v-list-item-subtitle>

        </v-list-item-content>
      </v-list-item>

    </v-list>

    <v-col cols=12>
      <v-alert
        v-show="!requests.length"
        dense
        type="info"
        outlined
        border="left"
      >Нямате поръчки</v-alert>
    </v-col>

  </v-row>
</template>

<script>
import moment from 'moment'
import Status from './HireRequestStatus'

export default {
  props: ['requests', 'isCaretaker'],
  components: { Status },
  filters: {
    date (d) {
      return moment(d).format('Do MMMM  YYYY')
    }
  }
}
</script>

<style>
</style>
