<template>
  <div class="d-inline">
    <span class="pl-1 caption text-uppercase font-weight-bold">
      <span v-if="status==='pending'" class="primary--text">непотвърдена</span>
      <span v-if="status==='declined'" class="error--text">отказана</span>
      <span v-if="status==='accepted'" class="success--text">потвърдена</span>
    </span>
  </div>
</template>

<script>
export default {
  props: ['status']
}
</script>
