<template>
  <span>
    <image-uploader
      :preview="false"
      id="image-uploader-file-input"
      :className="['fileinput', { 'fileinput--loaded': hasImage }]"
      capture="environment"
      :debug="0"
      doNotResize="gif"
      :autoRotate="true"
      outputFormat="verbose"
      @input="setImage"
    >
      <label for="image-uploader-file-input" slot="upload-label">
        <span class="body-2" :class="{'error--text':errorMessages&&errorMessages.length}">Снимка</span>
        <br />

        <!-- Бутонче със моливче -->
        <div
          id="uploadButton"
          :style="'background-image:url(\''+croppedImage+'\')' "
          class="v-btn v-btn--fab v-btn--round theme--light elevation-1 v-size--x-large"
        >
          <span class="v-btn__content">
            <v-icon class="primary--text">mdi-pencil</v-icon>
          </span>
        </div>

         <div v-if="errorMessages&&errorMessages.length" class="error--text caption">{{errorMessages[0]}}</div>
      </label>

    </image-uploader>

    <!--  Изкача, за да подрежеш картинката -->
    <v-bottom-sheet persistent inset v-model="sheet" >
      <v-sheet v-model="sheet" class="text-center">
        <Cropper
          class="cropper"
          ref="cropper"
          :src="!image?'':image.dataUrl"
          :stencilComponent="$options.components.CircleStencil"
        />
        <v-btn @click="crop" class="my-6" depressed color="primary">Изрежи</v-btn>
      </v-sheet>
    </v-bottom-sheet>
  </span>
</template>

<script>
import { Cropper, CircleStencil } from 'vue-advanced-cropper'

export default {
  name: 'ImgUpload',
  // eslint-disable-next-line
  components: { Cropper, CircleStencil },
  props: ['value', 'errorMessages'],
  data () {
    return {
      sheet: false,
      hasImage: false,
      image: null,
      croppedImage: ''
    }
  },
  watch: {
    value (v) {
      this.croppedImage = v
    }
  },
  methods: {
    setImage (output) {
      this.hasImage = true
      this.image = output
      this.sheet = true
    },
    crop () {
      this.sheet = false
      const { canvas } = this.$refs.cropper.getResult()
      this.croppedImage = canvas.toDataURL()
      this.$emit('input', this.croppedImage)
    }
  }
}
</script>

<style lang="css">
#image-uploader-file-input {
  display: none;
}

#uploadButton {
  background-size: cover;
}

.cropper {
  max-height: 500px;
  background: #ddd;
}
</style>
