<template>
  <v-row align="center">
    <!-- Данни за лицето -->
    <!-- Аватар -->
    <v-col cols="12" class="py-0" align="center">
      <v-avatar color="grey lighten-2" size="75">
        <img :src="individual.picture" alt />
      </v-avatar>
    </v-col>

    <!-- Всички полета с данни (без аватара ) -->
    <v-list-item two-line v-for="(f,i) in fields" :key="f.name">
      <v-list-item-content class="py-2">
        <v-list-item-title class="subtitle-2 grey--text text--lighten-1">{{f.title}}</v-list-item-title>

        <div
          class="subtitle-1 grey--text text--darken-4"
          v-if="f.type=='string'"
        >{{f.val?f.val:"Няма"}}</div>

        <v-list-item-subtitle class="subtitle-1 grey--text text--darken-4" v-else>{{f.val|date}}</v-list-item-subtitle>

        <v-divider class="mt-2" v-if="i < fields.length - 1"></v-divider>
      </v-list-item-content>
    </v-list-item>

    <v-col cols="12" class="mt-6">
      <v-row class="pa-0">
        <v-col cols="12" md="6" lg="12" xl="5" class="mb-0 pb-0" v-if="userIsOwner">
          <v-btn block color="secondary" @click="$emit('edit-clicked')">
            Редактирайте
            &nbsp;
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </v-col>

        <v-col cols="12" md="6" lg="12" xl="7"  v-if="userIsOwner">
          <v-btn block color="primary" @click="$emit('find-caretaker-clicked')">
            Намерете гледач
            &nbsp;
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-col>

    <v-col cols="12" class="py-0" v-if="numOfIndividuals > 1 && userIsOwner">
      <v-divider></v-divider>
    </v-col>

    <v-col cols="12" class="py-8 text-center">
      <v-btn
        outlined
        color="error"
        v-if="numOfIndividuals>1 && userIsOwner"
        @click="deleteAskDialog=!deleteAskDialog"
      >
        Изтрийте лицето &nbsp;
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-col>

    <!-- Модал за потвърждаване на изтриването -->
    <v-dialog v-model="deleteAskDialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Потвърждаване</v-card-title>

        <v-card-text>Сигурни ли сте, че искате да изтриете данните за {{individual.name}}?</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="primary" text @click="deleteAskDialog = false">Не</v-btn>

          <v-btn color="grey" text @click="()=>{deleteAskDialog = false;$emit('delete-clicked')}">Да</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import moment from 'moment'

export default {
  props: ['individual', 'userIsOwner'],
  data: () => ({
    errors: [],
    openForEdit: null,
    showOptions: false,
    deleteAskDialog: false
  }),
  computed: {
    fields () {
      return [
        { title: 'Име', val: this.individual.name, type: 'string' },
        {
          title: 'Рождена дата',
          val: this.individual.birth_date,
          type: 'date'
        },
        { title: 'Град', val: this.individual.city, type: 'string' },
        { title: 'Вид лице', val: this.individual.type, type: 'string' },
        {
          title: 'Здравословни проблеми',
          val: this.individual.about,
          type: 'string'
        },
        {
          title: 'Допълнителни отговорности',
          val: this.individual.special_needs,
          type: 'string'
        }
      ]
    },
    ...mapState({
      numOfIndividuals: state =>
        state.user.individuals ? state.user.individuals.length : 0
    })
  },
  filters: {
    date (d) {
      return moment(d).format('Do MMMM  YYYY')
    }
  }
}
</script>
