<template>
  <v-row align="center">

    <v-col cols=12 class="title text-left font-weight-bold" v-if="!individual">
      Добавете ново лице
    </v-col>

    <!-- Снимка -->
    <v-col cols="12">
      <ImgUpload v-model="picture" />
    </v-col>

    <!-- Име -->
    <v-col cols="12">
      <v-text-field
        label="Име"
        v-model="name"
        :error-messages="errors['name']"
      ></v-text-field>
    </v-col>

    <!-- Вид -->
    <v-col cols="12">
      <v-combobox
        v-model="type"
        :items="personTypes"
        label="Вид лице"
        :error-messages="errors['type']"
      ></v-combobox>
    </v-col>

    <!-- Рождена дата -->
    <v-col cols="12">
      <BirthDateInput v-model="birth_date" :error="errors['birth_date']"/>
    </v-col>

    <!-- Населено място -->
    <v-col cols="12">
      <LocationInput
        v-model="city"
        :error="errors['city'] ? errors['city'].contact(errors['location']? errors['location']: [] ) :errors['location']"
      />
    </v-col>

    <!-- Здравословни проблеми -->
    <v-col cols="12">
      <v-textarea
        auto-grow
        :rows="1"
        :label="`Информация за ${name}`"
        v-model="about"
        :error-messages="errors['about']"
      ></v-textarea>
    </v-col>

    <!-- Допълнителни отговорности -->
    <v-col cols="12">
      <v-textarea
        auto-grow
        :rows="1"
        label="Допълнителни отговорности"
        v-model="special_needs"
        :error-messages="errors['special_needs']"
      ></v-textarea>
    </v-col>

    <!-- Cancel & Submit бутон-->
    <v-col cols="12" class="py-5 text-center">

      <!-- TODO:: show btn when adding !1 time -->
      <!-- <v-btn class="mr-2" color="primary" outlined v-if="!individual" @click="$router.push({ name: '/' })">Отказ</v-btn>
 -->
      <v-btn  :loading="loading" class="ml-2 primary" @click="submit">{{individual ? 'Запазете промените' : 'Добавeте'}}</v-btn>

    </v-col>

  </v-row>
</template>

<script>
import LocationInput from './LocationInput'
import ImgUpload from './ImgUpload'
import BirthDateInput from './BirthDateInput'
import globals from '@/globals.js'
import moment from 'moment'

export default {
  props: ['individual'],
  data: () => ({
    loading: false,

    errors: [],
    personTypes: globals.personTypes,

    picture: '',
    about: '',
    name: '',
    city: '',
    birth_date: null,
    special_needs: '',
    type: ''
  }),
  components: {
    ImgUpload,
    LocationInput,
    BirthDateInput
  },
  watch: {
    individual (i) {
      if (i) {
        // Всички полета се попълват
        for (var key in i) {
          this[key] = i[key]
        }

        // Намества населеното място
        var lat = String(i['location']['latitude'])
        var lon = String(i['location']['longitude'])

        this.city = {
          name: i.city,
          lat,
          lon
        }

        // Намества рожденната дата
        this.birth_date = moment(i.birth_date).format('YYYY-MM-DD')
      }
    }
  },

  methods: {
    async submit () {
      this.loading = true
      var bd = this.birth_date
      if (bd) bd += 'T13:23:50.504642Z'

      var individual = {
        picture: this.picture,
        about: this.about,
        name: this.name,
        location: {
          latitude: Number(this.city.lat),
          longitude: Number(this.city.lon)
        },
        city: this.city.name,
        birth_date: bd,
        type: this.type,
        special_needs: this.special_needs
      }

      var action = 'newIndividual'
      if (this.individual) {
        action = 'editIndividual'
        individual.id = this.individual.id
      }

      try {
        await this.$store.dispatch(action, { individual })
        this.$emit('success', individual)
      } catch (err) {
        this.errors = err.data
        this.$emit('error', err)
      }
      this.loading = false
    }
  }
}
</script>
