<template>
  <v-row align="center">

      <v-col cols=6 class="subtitle-1 font-weight-medium">
        Лица
      </v-col>

      <v-col cols=6 class="text-right">
        <v-btn @click="$emit('new')" dark color="primary" min-width=88>
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>

    <v-col cols=12>
      <v-card class="elevation-0 transparent">
        <v-card @click="gotoIndividual(i)" class="pa-4 mb-4" v-for="i in individuals" :key="i.id">

          <span></span>

          <v-avatar class="mr-2 float-left" color="grey lighten-2" size="48">
            <img :src="i.picture" alt />
          </v-avatar>

          <span class="subtitle-1 font-weight-bold d-block">{{i.name}}</span>

          <span class="subtitle-2 primary--text d-block">{{i.birth_date|age}}</span>

        </v-card>
      </v-card>
    </v-col>

  </v-row>
</template>

<script>
import globals from '@/globals.js'

export default {
  props: ['individuals'],
  filters: {
    age: globals.age

  },
  methods: {
    gotoIndividual (i) {
      this.$emit('goto', i)
    }
  }
}
</script>
