<template>
  <v-autocomplete
    v-model="city"
    ref="cityInput"
    :items="citySuggestions"
    :loading="cityIsLoading"
    :search-input.sync="citySearch"
    :hide-no-data="!citySearch || cityIsLoading"
    hide-selected
    no-filter
    label="Населено място"
    :error-messages="error"
    :filled="filled"
  ></v-autocomplete>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  name: 'LocationInput',
  props: ['error', 'value', 'filled'],
  data: () => ({
    city: '',
    citySuggestions: [],
    cityIsLoading: false,
    citySearch: ''
  }),
  watch: {
    value (v) {
      this.city = v
      this.citySearch = v.name
      this.citySuggestions = [
        {
          text: v.name,
          value: v
        }
      ]
    },
    city (c) {
      if (c !== this.value) {
        this.$emit('input', c)
      }
    },
    citySearch (c) {
      this.getCity()
    }
  },

  methods: {
    getCity () {
      if (!this.citySearch || this.citySearch === this.value.name) {
        return
      }

      this.cityIsLoading = true
      this.findCities()
    },

    findCities: _.debounce(async function () {
      if (!this.citySearch || this.citySearch === this.value.name) {
        return
      }

      this.cityIsLoading = true

      try {
        var data;
        ({ data } = await axios.get(
          'https://nominatim.openstreetmap.org/search?q=' +
              this.citySearch +
              '&format=json'
        ))
      } catch (err) {
        console.log(err)
      }

      var newSuggestions = []
      _.forEach(data, c => {
        newSuggestions.push({
          text: c.display_name,
          value: {
            name: c.display_name,
            lat: c.lat,
            lon: c.lon
          }
        })
      })
      this.citySuggestions = newSuggestions

      this.cityIsLoading = false
    }, 1300)
  }
}
</script>
