<template>
  <v-row class="mb-12">
    <v-list three-line width="100%">
      <v-list-item-group color="primary">
        <v-list-item
          v-for="noti in notifications"
          :key="noti.id"
          :class="!noti.read ? 'grey lighten-3' : 'white'"
          :inactive="true"
          class="notification"
        >
          <v-list-item-content class="pl-3" @click="()=>{
            $emit('read', noti.id);
            $router.push(composeGoToUrl(noti.type, noti.meta_id))
            }">
            <v-list-item-subtitle
              :class="!noti.read ? 'font-weight-bold grey--text text--darken-3' : 'font-weight-regular grey--text text--darken-1'"
            >{{noti.message}}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action class="pr-3">
            <v-list-item-action-text
              :class="!noti.read ? 'font-weight-bold grey--text text--darken-3' : 'font-weight-regular grey--text text--darken-1'"
            >{{noti.created_at|time}}</v-list-item-action-text>

            <v-menu>
              <template v-slot:activator="{ on }">
                <v-btn icon color="grey" dark v-on="on">
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-if="!noti.read"
                  @click="$emit('read', noti.id)"
                >Отбелязване като прочетено</v-list-item>

                <v-list-item @click="$emit('remove', noti.id)">Изтриване</v-list-item>
              </v-list>
            </v-menu>

          </v-list-item-action>

        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-row>
</template>

<script>
import globals from '@/globals.js'
export default {
  props: ['notifications'],
  filters: {
    time (d) {
      return globals.timeFromNow(d)
    }
  },
  methods: {
    composeGoToUrl (notiType, metaId) {
      var urlMap = {
        'messages.unread': '/messages',
        'request.sent': '/request/:metaId',
        'request.received': '/request/:metaId',
        'request.accepted': '/request/:metaId',
        'request.declined': '/request/:metaId',
        'message.received': '/message/:metaId'
      }

      if (notiType.indexOf('request') !== -1) {
        this.$store.commit('setParentRoot', {
          title: 'Известия',
          to: '/notifications'
        })
      }

      return urlMap[notiType].replace(':metaId', metaId)
    }
  }
}
</script>

<style scoped>
/* Слага divider-и между известията */
  .notification{
    border-bottom:1px solid !important;
    border-bottom-color: #e0e0e0 !important;
  }
  .grey.lighten-3{
     border-bottom-color:#e0e0e0 !important
  }
</style>
