<template>
  <v-row>
    <!-- Е-mail -->
    <v-col cols="12">
      <v-text-field
        label="E-mail"
        :value="email"
        readonly
        disabled
      ></v-text-field>
    </v-col>

    <!-- Име -->
    <v-col cols="12">
      <v-text-field
        label="Име"
        v-model.trim="first_name"
        :error-messages="errors['first_name']"
      ></v-text-field>
    </v-col>

    <!--Фамилия -->
    <v-col cols="12">
      <v-text-field
        label="Фамилия"
        v-model.trim="second_name"
        :error-messages="errors['second_name']"
      ></v-text-field>
    </v-col>

    <!-- Населено място -->
    <v-col cols="12">
      <LocationInput
        v-model="city"
        :error="errors['city'] ? errors['city'].contact(errors['location']? errors['location']: [] ) :errors['location']"
      />
    </v-col>

    <!-- Парола -->
    <v-col cols="12">
      <v-text-field
        label="Нова парола"
        v-model="password"
        type="password"
        :error-messages="errors['password']"
      ></v-text-field>
    </v-col>

    <!-- Потвърждение на паролата -->
    <v-col cols="12">
      <v-text-field
        label="Повторете паролата"
        v-model="password_confirmation"
        type="password"
        :error-messages="errors['password_confirmation']"
      ></v-text-field>
    </v-col>

    <!-- Старата парола -->
    <v-col cols="12" v-show="password">
      <v-text-field
        label="Предишна парола"
        v-model="old_password"
        type="password"
        :error-messages="errors['old_password']"
      ></v-text-field>
    </v-col>

    <v-col cols="12" class="py-5 text-center">
      <v-btn :loading="loading" color="primary" @click="save">Запазете промените</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import LocationInput from './LocationInput'
export default {
  components: { LocationInput },
  props: ['user', 'errors', 'loading'],
  data () {
    return {
      email: '',
      password_confirmation: '',
      password: '',
      old_password: '',
      city: '',
      first_name: '',
      second_name: ''
    }
  },
  mounted () { this.fillFields() },
  methods: {
    // Запазва промените в базата
    save () {
      var params = JSON.parse(JSON.stringify(this.$data))
      params.location = {
        latitude: Number(this.city.lat),
        longitude: Number(this.city.lon)
      }
      params.city = this.city.name
      this.$emit('save', params)
    },
    // попълва полетата с предишната информация
    fillFields () {
      if (!this.user) {
        return
      }

      // Всички полета се попълват
      for (var key in this.user) {
        if (key in this) {
          this[key] = this.user[key]
        }
      }

      // Намества населеното място
      var lat = String(this.user['location']['latitude'])
      var lon = String(this.user['location']['longitude'])

      this.city = {
        name: this.user.city,
        lat,
        lon
      }
      // Намества рожденната дата
      // this.birth_date = moment(i.birth_date).format('YYYY-MM-DD')
    }
  },
  watch: {
    user (u) {
      this.fillFields()
    }
  }
}
</script>

<style>
</style>
