<template>
  <v-row>
    <!-- Биография -->
    <v-col cols="12">
      <v-textarea
        label="За Вас"
        v-model="caretakerForEdit.bio"
        :error-messages="errors['bio']"
        rows="2"
      ></v-textarea>
    </v-col>

    <!-- Рождена дата -->
    <v-col cols="12">
      <BirthDateInput
        v-model="caretakerForEdit.birth_date"
        :error="errors['birth_date']"
      />
    </v-col>

    <!-- Образование -->
    <v-col cols="12">
      <v-textarea
        rows="2"
        label="Образование"
        v-model="caretakerForEdit.education"
        :error-messages="errors['education']"
      ></v-textarea>
    </v-col>

    <!-- Опит -->
    <v-col cols="12">
      <v-textarea
        label="Опит"
        v-model="caretakerForEdit.experience"
        :error-messages="errors['experience']"
        rows="2"
      ></v-textarea>
    </v-col>

    <!-- Надница -->
    <v-col cols="12">
      <v-text-field
        label="Почасова надница"
        type="number"
        min="0"
        v-model.number="caretakerForEdit.hour_rate"
        :error-messages="errors['hour_rate']"
      >
        <span class="caption" slot="append">лв/час</span>
      </v-text-field>
    </v-col>

    <!-- Грижа за -->
    <v-col cols="12">
      <v-combobox
        v-model="caretakerForEdit.works_with"
        :items="perosnTypesSuggestions"
        :error-messages="errors['works_with']"
        label="Мога да се грижа за"
        multiple
        chips
      >
       <template v-slot:selection="data">
          <v-chip class="secondary">{{ data.item }}</v-chip>
        </template>
      </v-combobox>
    </v-col>

    <!-- Умения -->
    <v-col cols="12">
      <v-combobox
        v-model="caretakerForEdit.skills"
        :items="skillsSuggestions"
        label="Умения"
        :error-messages="errors['skills']"
        multiple
        chips
      >
        <template v-slot:selection="data">
          <v-chip class="secondary">{{ data.item }}</v-chip>
        </template>
      </v-combobox>
    </v-col>

    <v-col cols="12" class="py-5 text-center">
      <v-btn :loading="loading" @click="save" color="primary">Запазете промените</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import BirthDateInput from './BirthDateInput'
import globals from '@/globals.js'
import moment from 'moment'

export default {
  components: { BirthDateInput },
  props: ['caretaker', 'errors', 'loading'],
  data () {
    return {
      caretakerForEdit: this.caretaker,
      skillsSuggestions: globals.skills,
      perosnTypesSuggestions: globals.personTypes
    }
  },
  mounted () {
    this.fillFields()
  },
  methods: {
    save () {
      var params = JSON.parse(JSON.stringify(this.caretakerForEdit))
      params.birth_date += 'T13:23:50.504642Z'
      this.$emit('save', params)
    },
    fillFields () {
      if (!this.caretaker) {
        return
      }

      this.caretakerForEdit = this.caretaker

      // Намества рожденната дата
      this.caretakerForEdit.birth_date = moment(this.caretaker.birth_date).format('YYYY-MM-DD')
    }
  },
  watch: {
    caretaker (u) {
      this.fillFields()
    }
  }
}
</script>

<style>
</style>
