<template>
  <div class="grey lighten-2  py-2 px-5 typing-indicator">
    <span class="primary"></span>
    <span class="primary"></span>
    <span class="primary"></span>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.typing-indicator {
    border-radius: 1rem;
    border-top-left-radius: 0;
    width: auto;
    display: inline-block;
    animation: 2s pulse infinite ease-out;

}
.typing-indicator span {
    height: 15px;
    width: 15px;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: inline-block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-child(1)
{
    animation: 1s blink infinite .3333s;
}

.typing-indicator span:nth-child(2)
{
    animation: 1s blink infinite .6666s;
}

.typing-indicator span:nth-child(3)
{
    animation: 1s blink infinite .9999s;
}

@keyframes blink
{
    50%
    {
        opacity: 1;
    }
}

@keyframes pulse
{
    50% {
        transform: scale(1.05);
    }
}

</style>
