<template>
  <v-row class="text-center" align="center" justify="center" no-gutters>
    <!-- Име -->
    <v-col cols="12">
      <span
        class="text-capitalize title font-weight-bold d-block"
      >{{user.first_name}} {{user.second_name}}</span>
    </v-col>
    <!-- Град -->
    <v-col cols="12">
      <span
        class="grey--text text--darken-2 subtitle-2 font-weight-medium"
      >{{user.city.split(',')[0]}}</span>
    </v-col>

    <v-col cols="12" class="my-4">
       <v-btn outlined color="grey" @click="$emit('logout')" >
        <v-icon>mdi-logout</v-icon>Излезте
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: ['user']
}
</script>

<style>
</style>
