<template>
  <v-row class="px-4" justify="center">
    <v-col cols="12" md="7"  lg="5" xl="4" >
      <Request
        v-if="request"
        :send="false"
        :id="request.id"
        :weekly="request.weekly"
        :times="request.datetime"
        :user="request.user"
        :caretaker="request.caretaker"
        :individual="request.individual"
        :message="request.message"
        :status="request.status"
        :is-caretaker="userIsCaretaker"
        @gotoIndividual="gotoIndividual"
        @gotoCaretaker="gotoCaretaker"
        @accept="changeStatus('accepted')"
        @decline="changeStatus('declined')"
      />
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import Request from '../../components/HireRequest'
import _ from 'lodash'

export default {
  components: { Request },
  async mounted () {
    // Взима hire_request-a на база id-то
    try {
      await this.$store.dispatch('getHireRequest', this.$route.params.id)
    } catch (e) {
      this.$router.replace('/')
    }

    if (!this.parentRootTo || this.parentRootTo === `/request/${this.request.id}`) {
      this.$store.commit('setParentRoot', {
        title: 'Поръчки',
        to: `/requests`
      })
    }
  },
  methods: {
    // Препраща към страницата на лицето, за което става въпрос във requests
    gotoIndividual (i) {
      this.$store.commit('setIndividual', i)

      this.$store.commit('setParentRoot', {
        title: 'Поръчка',
        to: `/request/${this.request.id}`
      })

      this.$router.push(`/individual/${i.id}`)
    },
    gotoCaretaker () {
      this.$store.commit('setParentRoot', {
        title: 'Поръчка',
        to: `/request/${this.request.id}`
      })
      this.$store.commit('setCaretaker', this.request.caretaker)
      this.$router.push(`/caretaker/${this.request.caretaker.id}`)
    },
    // caretaker-а приема/decline-ва request-a
    async changeStatus (status) {
      await this.$store.dispatch('requestChangeStatus', {
        id: this.request.id,
        status: status
      })

      this.$store.commit('setSnackbar', {
        active: true,
        text: `Успешно ${status === 'declined' ? 'отказана' : 'приета'} поръчка`,
        color: 'success'
      })
    }
  },
  watch: {
    request (r) {
      // Page title-a
      var otherU = r.caretaker
      if (this.userIsCaretaker) otherU = r.user
      this.$store.commit('setPageTitle', {
        text: `Поръчкa ${this.userIsCaretaker ? 'от' : 'към'} ${_.capitalize(otherU.first_name)}`
      })
    }
  },
  computed: mapState({
    request: state => state.hireRequests.request,
    userIsCaretaker: state => state.user && Boolean(state.user.caretaker),
    parentRootTo: state => {
      var pr = state.parentNavigation.parentRoot
      return pr ? pr.to : ''
    }
  })
}
</script>
