<template>
  <v-row justify="center">
    <v-col v-if="loading" cols="12" align="center" >
          <v-progress-circular indeterminate :size="50" color="primary"></v-progress-circular>
    </v-col>

    <v-col cols="12"  md="7" lg="5" lx="4"  class="pt-0" >

      <v-tabs v-model="tab" grow>
        <v-tab>Активни</v-tab>
        <v-tab>Завършени</v-tab>
      </v-tabs>

      <v-tabs-items class="px-4" v-model="tab">

        <!-- Активни -->
        <v-tab-item>
          <HireRequests :is-caretaker=userIsCaretaker @goto=goto :requests=requests :done=false />
        </v-tab-item>

        <!-- Завършени -->
        <v-tab-item>
          <HireRequests :is-caretaker=userIsCaretaker :requests=[] :done="true" />
        </v-tab-item>
      </v-tabs-items>

    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import HireRequests from '../../components/HireRequests'

export default {
  components: { HireRequests },
  data: () => ({
    tab: 0,
    loading: true
  }),
  async mounted () {
    this.$store.commit('setPageTitle', {
      text: 'Поръчки'
    })

    // Взима всички hire_request-и за дадения потребител
    this.loading = true
    try {
      await this.$store.dispatch('getHireRequests')
    } catch {
      this.$router.replace('/')
    }
    this.loading = false
  },
  methods: {
    // отива към страницата за някой request
    goto (req) {
      // Задава данни за бутончето назад
      this.$store.commit('setParentRoot', {
        title: 'Поръчки',
        to: '/requests'
      })
      this.$store.commit('setRequest', req)
      this.$router.replace('/request/' + req.id)
    }
  },
  computed: mapState({
    requests: state => state.hireRequests.requests,
    userIsCaretaker: state => Boolean(state.user.caretaker)
  })
}
</script>
