<template>
  <v-row justify="center">
    <v-col cols="12" align="center" v-if="loading">
      <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
    </v-col>

    <v-col cols="12" md="6" lg="5" xl="3">
      <Conversations @goto="goto" :conversations="roomsSorted" />

      <v-alert
        v-show="!roomsSorted.length && !loading"
        class="mt-6"
        dense
        type="info"
        outlined
        border="left"
      >Нямате съобщения</v-alert>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import Conversations from '../../components/Conversations'
import _ from 'lodash'
import moment from 'moment'
import globals from '@/globals.js'

export default {
  components: { Conversations },
  data: () => ({
    rooms: [],

    roomIdKeys: {}, // mapва index-a на стаята с id-то и
    usersPresent: {}, // map-ва id на потрребител с това дали е online

    chatkitUser: null,
    loading: true
  }),
  mounted () {
    this.$store.commit('setPageTitle', {
      text: `Съобщения`
    })

    if (this.chatManager) {
      this.setChatter()
    }

    // Хитва rend-ването на this.rooms (прови this.rooms reactive)
    var a = () => {
      this.rooms = JSON.parse(JSON.stringify(this.rooms))
      setTimeout(() => {
        a()
      }, 100)
    }
    a()
  },
  methods: {
    goto (id) {
      this.$router.push('/message/' + id)
    },
    async setChatter () {
      try {
        console.log('setting chatter')
        this.chatkitUser = await this.chatManager.connect({
          // Следи кой е active и кой не
          onPresenceChanged: (state, user) => {
            this.usersPresent[user.id] = state.current === 'online'
          },
          onNewReadCursor: cursor => {
            console.log('CURSOR', cursor)
            if (
              cursor.position <=
              this.rooms[this.roomIdKeys[cursor.roomId]]['lastMessage'].id
            ) {
              this.rooms[this.roomIdKeys[cursor.roomId]].unread = 0
            }
          }
        })

        _.forEach(this.chatkitUser.rooms, async room => {
          // ----Добавя стаята ---- ///
          await this.addRoom(
            room.id,
            room.unreadCount <= 0 ? 0 : room.unreadCount - 1
          )

          this.chatkitUser.subscribeToRoom({
            roomId: room.id,
            messageLimit: 1,
            hooks: {
              onMessage: async message => {
                if (!(room.id in this.roomIdKeys)) {
                  await this.addRoom(room.id)
                }

                // Ако съобщението съдържа контролната дума за първо съобщение от дадена заявка
                if (message.text.includes(globals.initialMsgIndicator)) {
                  message.text = message.text.substr(
                    0,
                    message.text.length -
                      (36 + globals.initialMsgIndicator.length)
                  )
                }

                this.rooms[this.roomIdKeys[room.id]]['lastMessage'] = {
                  text: message.text,
                  date: message.createdAt,
                  receiver: message.senderId !== this.userId,
                  id: message.id
                }

                // Проверява, дали последното пратено съобщение е прочетено
                var curentUserRoomCursor = this.chatkitUser.readCursor({
                  roomId: room.id
                }) || Number.MAX_SAFE_INTEGER

                // Ако потребителя е получател и съобщението не е прочетено
                if (
                  message.senderId !== this.userId &&
                  curentUserRoomCursor.position < message.id
                ) {
                  this.rooms[this.roomIdKeys[room.id]].unread++
                }

                // Ако потребителя е изпращач
                if (message.senderId === this.userId) {
                  this.rooms[this.roomIdKeys[room.id]].unread = 0
                }
              }
            }
          })
        })
        setTimeout(() => {
          this.loading = false
        }, 700)
      } catch (error) {
        console.error('error:', error)
      }
    },
    async addRoom (roomId, unreadCount) {
      // Взима и намества hireRequest-a
      try {
        var user, caretaker, hasMessages;
        ({
          user,
          caretaker,
          has_messages: hasMessages
        } = await this.$store.dispatch('getHireRequest', roomId))
      } catch (e) {
        this.$router.replace('/')
      }

      if (!hasMessages) {
        return
      }

      // Добавя стаята
      var rms = this.rooms
      var roomKey = this.rooms.length
      this.rooms[roomKey] = {}

      if (this.userIsCaretaker) rms[roomKey]['to'] = user
      else rms[roomKey]['to'] = caretaker

      rms[roomKey]['to'] = _.pick(rms[roomKey]['to'], [
        'first_name',
        'second_name',
        'id'
      ])

      // Задава active state-a по подразбиране на false
      rms[roomKey]['to']['active'] = false

      // Броя на непрочетениете съобщения
      rms[roomKey]['unread'] = unreadCount

      // Намества avatar-a
      rms[roomKey]['to']['avatar'] = this.userIsCaretaker
        ? '/img/def_user_avatar.png'
        : caretaker.caretaker.picture

      rms[roomKey]['id'] = roomId

      // Map-ва index с id
      this.roomIdKeys[roomId] = roomKey

      this.rooms = rms
      // Хитва rend-ването на this.rooms (прови this.rooms reactive)
      this.rooms = JSON.parse(JSON.stringify(this.rooms))
    }
  },
  watch: {
    chatManager () {
      this.setChatter()
    }
  },
  computed: {
    // Стаите + добавен active status
    roomsWithActiveStateSet () {
      return _.map(this.rooms, r => {
        if (!(r.to.id in this.usersPresent)) {
          return r
        }
        r.to.active = this.usersPresent[r.to.id]
        return r
      })
    },
    // Сортираните стаи по последно получено съобщение
    roomsSorted () {
      return _.sortBy(this.roomsWithActiveStateSet, r => {
        return r.lastMessage ? -moment(r.lastMessage.date).valueOf() : false
      })
    },
    ...mapState({
      userIsCaretaker: state => Boolean(state.user.caretaker),
      userId: state => state.user.id,
      chatManager: state => state.messages.chatkitChatManager
    })
  }
}
</script>

<style>
</style>
