<template>
  <v-row justify="center" style="height:100vh" class="my-n12 pt-6">
    <v-col align-self="stretch" cols="12" md="7" lg="6" xl="5" class="pb-12">
      <Conversation
        v-if="!loading"
        :messages="messages"
        :typing="otherIsTyping"
        :loading="loading"
        :readCursor="readCursor"
        @loadMore="loadMore"
        @sent="send"
        @typing="typing"
        @goto="goto"
        @call="mediaCall"
      >
      </Conversation>
    </v-col>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import Conversation from '../../components/Conversation'
import _ from 'lodash'
import isUUID from 'validator/es/lib/isUUID'
import globals from '@/globals.js'

const DefLim = 30

export default {
  components: { Conversation },
  data: () => ({
    chatkitUser: null, // pusher chatkit  current user-a
    messages: [], // съобщенията
    otherIsTyping: false, // дали другия потребител пише в момента
    readCursor: null, // курсора "прочетено"

    loading: true,
    maxReached: false, // дали всички съобщения, запазени в базата ни са в []messages

    pagination: {
      // за зареждането на предишни съобщения от базата
      skip: 0,
      get: DefLim
    },

    windowIsFocused: true // дали tab-a e на фокус, използва се за read cursor-a
  }),
  async mounted () {
    // проверява, дали прозореца е на фокус (за правилно задаване на read курсорс)
    window.onblur = () => {
      this.windowIsFocused = false
    }
    window.onfocus = () => {
      this.windowIsFocused = true
    }

    // Зарежда hire_request, задва page_title и бутончето "назад"
    await this.setPageVars()

    // Задава chetter нещата
    if (this.chatManager) {
      await this.setChatter()
    }
  },
  beforeMount () {
    this.getMessages(0, DefLim)
  },
  methods: {
    // Изпраща съобщения (hit-ва сървъра)
    async send (message) {
      try {
        await this.$store.dispatch('sendMessage', {
          message,
          room: this.roomId
        })
      } catch (e) {
        console.error(e)
      }
    },
    // Изпраща typing indicator
    async typing () {
      try {
        await this.chatkitUser.isTypingIn({
          roomId: this.roomId
        })
      } catch (err) {
        console.log(`Error sending typing indicator: ${err}`)
      }
    },
    // Вика, се когато child компонента каже, че иска още съобщения (потребителя е scroll-нал max нагоре)
    loadMore () {
      if (this.maxReached) return
      this.getMessages(this.pagination.skip, this.pagination.get)
    },
    // Зарежда още съобщения от сървъра
    getMessages: _.debounce(async function (skip, get) {
      this.loading = true

      try {
        await this.$store.dispatch('getMessages', {
          room: this.roomId,
          skip,
          get
        })
        this.loading = false
      } catch (err) {
        this.$router.replace('/')
      }
    }, 1000),
    // Зарежда hire_request, задва page_title и бутончето "назад"
    async setPageVars () {
      try {
        await this.$store.dispatch(
          'getHireRequest',
          this.$route.params.hireRequest
        )
      } catch (e) {
        this.$router.replace('/')
      }

      // Бутонче назад
      this.$store.commit('setParentRoot', {
        title: 'Съобщения',
        to: '/messages'
      })

      // Page-title-a
      this.$store.commit('setPageTitle', {
        text: this.messageTo.name,
        avatar: this.messageTo.avatar,
        icon: {
          icon: 'mdi-circle',
          class: 'warning--text'
        }
      })
    },
    // Set up-ва chatter нещата
    async setChatter () {
      // id-то на стаята, идва от hire_request-a
      var roomId = this.roomId

      try {
        this.chatkitUser = await this.chatManager.connect()

        // Subscribe-ва към стаята
        await this.chatkitUser.subscribeToRoom({
          roomId,
          hooks: {
            // При получено съобщение, добая го към масива
            onMessage: message => {
              var text = message.text
              if (message.text.includes(globals.initialMsgIndicator)) {
                var uuid = text.substr(text.length - 36)
                text = text.replace(globals.initialMsgIndicator + uuid, '')
                if (message.text.includes(globals.initialMsgIndicator)) { uuid = false }
              }

              this.messages.push({
                id: message.id,
                text,
                left: message.senderId === this.messageTo.id,
                initial: uuid
              })
            },
            // Другия почва да пише
            onUserStartedTyping: () => {
              this.otherIsTyping = true
            },
            // Другия спира да пише
            onUserStoppedTyping: () => {
              this.otherIsTyping = false
            },
            // Другия става offline/online
            onPresenceChanged: (state, user) => {
              // Aко потребителя, който си променя state-a не е получателя на съобщенията
              if (user.id !== this.messageTo.id) return

              // Залено за "active"
              let color = 'light-green--text text--accent-4'
              // Жълто за "offline"
              if (state.current === 'offline') color = 'yellow--text'

              // променя иконката в page-title-a
              this.$store.commit('setPageTitleIcon', {
                icon: 'mdi-circle',
                class: color
              })
            },
            // При преместване на "прочетено на"
            onNewReadCursor: c => {
              this.readCursor = c
            }
          },
          messageLimit: 0
        })

        // Взима "прочетено на" курсора на другия
        this.readCursor = this.chatkitUser.readCursor({
          roomId: roomId,
          userId: this.messageTo.id
        })
      } catch (error) {
        console.error('error:', error)
      }
    },

    // Задава собствения read cursor (hit-ва  сървара)
    setReadCursor: _.debounce(function () {
      var lst = _.last(this.messages)
      // Задава курсора, следящ прочитането на последното съобщение
      if (lst.read !== true && lst.left) {
        this.$store.dispatch('setReadCursor', { id: lst.id })
      }
    }, 200),

    // отива към страницата за някой request
    goto (id) {
      this.$store.commit('setParentRoot', {
        title: 'Съобщения',
        to: '/message/' + this.roomId
      })
      this.$router.replace('/request/' + id)
    },

    // Извършва позваняване към другия user
    async mediaCall () {
      try {
        await this.$store.dispatch('mediaCall', {
          hireRequest: this.roomId,
          action: 'send'
        })
      } catch (e) {
        console.warn(e)
      }

      this.$store.commit('setMediaCalling', { to: this.messageTo, hireRequest: this.roomId })
    }
  },
  watch: {
    chatManager () {
      this.setChatter()
    },
    // добавя новополучените от сървъра съобщения към старите
    savedMessages (ms) {
      // Ако някое съобщение е пратено автоматично (със id-то на hire-request-а в себе си)
      ms = _.map(ms, m => {
        if (m.text.includes(globals.initialMsgIndicator)) {
          var uuid = m.text.substr(m.text.length - 36)
          if (!isUUID(uuid)) {
            return m
          }

          m['initial'] = uuid
          m.text = m.text.replace(globals.initialMsgIndicator + uuid, '')
        }
        return m
      })

      this.messages = _.concat(ms, this.messages)
      this.pagination.skip += DefLim

      if (ms.length < DefLim) this.maxReached = true
    },
    messages () {
      if (this.windowIsFocused) this.setReadCursor()
    },
    windowIsFocused (focused) {
      if (focused) this.setReadCursor()
    }
  },
  computed: mapState({
    chatManager: state => state.messages.chatkitChatManager,
    // към кого се пращат съобщенията
    // {id,name,avatar}
    messageTo (state) {
      if (!state.hireRequests) return { name: '', avatar: '' }
      var user
      let isCaretaker = Boolean(state.user.caretaker)
      if (isCaretaker) {
        user = state.hireRequests.request.user
      } else {
        user = state.hireRequests.request.caretaker
      }

      return {
        id: user.id,
        name:
          _.capitalize(user.first_name) + ' ' + _.capitalize(user.second_name),
        avatar: !isCaretaker
          ? user.caretaker.picture
          : '/img/def_user_avatar.png'
      }
    },
    roomId: state => state.hireRequests.request.room_id || '',
    userIsCaretaker: state => Boolean(state.user.caretaker),
    savedMessages: state => state.messages.messages
  })
}
</script>

<style>
</style>
