<template>
  <v-app style="background-color: #ffffff">
    <!-- Loader -->
    <v-container v-if="showLoader" class="text-center pa-0 fill-height">
      <v-row>
        <v-col cols="12">
          <v-progress-circular indeterminate :size="150" :width="15" color="primary"></v-progress-circular>
        </v-col>
      </v-row>
    </v-container>

    <AppBar
      v-if="!firstTime && !showLoader"
      :page-title="pageTitle"
      :parent-root="parentRoot"
      :unread-notifications="unreadNotifications"
      :userAvatar="userAvatar"
      :is-caretaker="Boolean(user.caretaker)"
    />

    <!-- Login layout -->
    <v-sheet v-if="isEmpty(user) && !showLoader" class="pa-0">
      <v-row class="pa-12 flex-grow-0 primary" align="center" justify="center">
        <v-col cols="12">
          <v-img max-height="100px" src="../public/img/logo-light.svg" contain></v-img>
        </v-col>
      </v-row>

      <v-row align="center" justify="center">
        <v-col cols="12" class="py-0" md="5" lg="3">
          <router-view />
        </v-col>
      </v-row>
    </v-sheet>

    <!-- Default layout -->
    <v-container v-else-if="!showLoader" :class="firstTime ?  'pa-0 fill-height' : 'px-0 py-12'">
      <router-view />
    </v-container>

    <!-- Snackbar -->
    <v-snackbar bottom :color="snackbar.color" v-model="snackbar.active">
      {{snackbar.text}}
      <v-btn
        v-if="snackbar.btn"
        color="white"
        :to="snackbar.btn.to"
        :replace="snackbar.btn.replace"
        text
        @click="snackbar.active = false"
      >{{snackbar.btn.text}}</v-btn>
      <v-btn v-else color="white" text @click="snackbar.active = false">ОК</v-btn>
    </v-snackbar>

    <CallMediaSetup v-if="channel" />
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import _ from 'lodash'
import AppBar from './components/AppBar'
import CallMediaSetup from './components/CallMediaSetup'

export default {
  components: { AppBar, CallMediaSetup },

  async beforeMount () {
    try {
      await this.$store.dispatch('getUser')
    } catch {}

    this.$store.commit('unsetLoading')
  },
  watch: {
    user: _.debounce(function (u) {
      if (this.loading) return

      // Проверява дали потребителят е логнат
      if (this.isEmpty(u)) {
        if (this.$route.meta.requiresAuth) {
          this.$router.replace('/login')
        }
      } else if (this.$route.meta.guest) {
        this.$router.push('/')
      }

      // Задава chatkit променливата
      if (!this.isEmpty(u)) {
        this.$store.commit('setChatManager', u.id)
      }

      // Задава pusher client-a
      this.$store.commit('setPusherClient')

      // Зарежда известията
      this.$store.commit('clearNotifications')
      this.$store.dispatch('getNotifications', {
        skip: 0,
        get: 100
      })
    }, 300),

    // Грижи се за получване на notification-и
    pusher () {
      if (_.isEmpty(this.user)) return

      let channel = this.pusher.subscribe(`private-${this.user.id}`)
      this.$store.commit('setPusherChannel', channel)
      channel.bind('notification-sent', data => {
        this.$store.commit('addNotification', data)
        this.$store.commit('setSnackbar', {
          active: true,
          text: 'Получихте известие',
          color: 'info',
          btn: {
            to: '/notifications',
            text: 'преглед'
          }
        })
      })
    }
  },
  methods: {
    async logout () {
      await this.$store.dispatch('logoutUser')
      this.$router.push('login')
    },
    isEmpty: _.isEmpty
  },

  computed: {
    firstTime () {
      if (localStorage.getItem('firstTime') && this.user.caretaker) {
        return false
      }
      if (_.isEmpty(this.user)) return true
      if (!this.user.individuals) return true
      return this.user.individuals.length === 0
    },
    userAvatar () {
      if (!this.user) return
      if (this.user.caretaker) {
        return this.user.caretaker.picture
      } else return '/img/def_user_avatar.png'
    },
    ...mapState({
      user: 'user',
      snackbar: 'snackbar',
      loading: 'siteLoading', // прявят се някакви специфични заякви към базта
      showLoader: state => state.siteLoading || state.pageLoader, // показване на кръгчето, което се върти (при някакви заявки или много redirect-и от страница в страница, които user-a не бива да вижда)
      parentRoot: state => state.parentNavigation.parentRoot,
      pageTitle: state => state.parentNavigation.pageTitle,
      chatManager: state => state.messages.chatkitChatManager,
      pusher: state => state.notifications.pusherClient,
      channel: state => state.notifications.pusherChannel,
      unreadNotifications: state =>
        _.filter(state.notifications.notifications, n => {
          return !n.read
        }).length
    })
  }
}
</script>
