<template>
  <v-row class="px-4" justify="center">
    <v-col cols="12" class="headline text-left font-weight-bold pt-8 pb-0">РЕГИСТРАЦИЯ</v-col>

    <v-col
      cols="12"
      class="title text-left text-uppercase font-weight-medium deep-orange--text pt-0"
    >Гледач</v-col>

    <v-col cols="12" v-if="!emailSent">
      <AuthForm @success="success" :isCaretaker="true" type="signup" />
    </v-col>

    <v-col cols="12" v-else>
      <EmailSent />
    </v-col>
  </v-row>
</template>

<script>
import AuthForm from '@/components/AuthForm.vue'
import EmailSent from '@/components/EmailSent.vue'
import _ from 'lodash'

export default {
  name: 'signupCaretaker',
  components: {
    AuthForm,
    EmailSent
  },
  data () {
    return {
      emailSent: false
    }
  },
  methods: {
    success () {
      this.emailSent = true
      // Презарежда страницата след минута и половина
      _.delay(() => {
        window.location.replace('/login')
      }, 1000 * 60 * 1.5)
    }
  }
}
</script>
