<template>
  <v-row class="px-4" justify="center">
    <v-col cols="12" class="headline text-left font-weight-bold pt-8 pb-0">ВХОД</v-col>

    <v-col cols="12" v-show="error">
      <v-alert type="error">{{error}}</v-alert>
    </v-col>

    <v-col cols="12">
      <AuthForm @error="onErr" @success="success" :isCaretaker="false" type="login" />
    </v-col>
  </v-row>
</template>

<script>
import AuthForm from '@/components/AuthForm.vue'
import _ from 'lodash'

export default {
  name: 'login',
  data () {
    return {
      error: false
    }
  },
  mounted () {},
  components: {
    AuthForm
  },
  methods: {
    onErr (e) {
      this.error = 'Грешен E-mail или парола'
      if (e.status === 401) {
        this.error = 'Еmail-ът не е потвърден'
      }
    },
    success () {
      this.$store.commit('showLoader')
      _.delay(() => {
        this.$store.commit('hideLoader')
      }, 500)
    }
  }
}
</script>
