<template>
  <v-row class="px-4" justify="center">

    <v-col cols="12" class="headline text-left font-weight-bold pt-8 pb-0">
      РЕГИСТРАЦИЯ
    </v-col>

    <v-col cols="12">
      <v-select
        v-model="selectedRole"
        :items="items"
        item-text="roleName"
        label="Искам да се регистрирам като"
        return-object
      ></v-select>
    </v-col>

    <v-col cols="12" align="center">
      <v-btn
        color="primary"
        rounded
        min-width = 88
        @click="directToRoleSignup()"
      >
        <v-icon dark>mdi-arrow-right</v-icon>
      </v-btn>
    </v-col>

    <!--ИЛИ divider  -->
    <v-row align="center" justify="center">
      <v-col cols="5" class="pl-12 pa-0">
        <v-divider></v-divider>
      </v-col>
      <v-col cols="2" class="text-center pa-0 grey--text text--lighten-1">или</v-col>
      <v-col cols="5" class="pr-12 pa-0">
        <v-divider></v-divider>
      </v-col>
      <v-col cols="12" class="font-weight-medium" align="center">
        <v-btn
          color="primary"
          rounded
          outlined
          min-width = 88
          to='/login'
        >вход</v-btn>
      </v-col>
    </v-row>

  </v-row>
</template>

<script>

export default {
  name: 'signup',
  data: () => ({
    items: [
      { value: 'user', roleName: 'Потребител' },
      { value: 'caretaker', roleName: 'Гледач' }
    ],
    selectedRole: null
  }),
  methods: {
    directToRoleSignup () {
      this.selectedRole.roleName === 'Потребител' ? this.$router.push({ name: 'signupUser' }) : this.$router.push({ name: 'signupCaretaker' })
    }
  }
}
</script>
